[2017-11-21 12:53] keremispirli commented on #199
Thanks for the input @Mathijssen. I also experienced some benefits of having a default configuration in case no config file is available.

Closing.

[2017-11-21 12:53] #199 closed

[2017-11-21 13:08] ramon-janssen commented on #146
Yes, that makes sense. But indeed, this solution does require you to have a higher-level protocol than raw strings, to encode the channels c and d. I guess that such a protocol is useful anyway if you want to reset the sut (just send a reset-header and let the adapter handle it), and it may also be useful for synchronous actions.

If a nice standard such as XML is used, it should be easy to set th

[2017-11-21 13:27] ramon-janssen commented on #354
TorXakis could simply give a fail in that case: only specified outputs are expected, unparsable messages are definately not.

[2017-11-21 13:29] pjljvandelaar commented on #533
Mapping has another meaning...
Let 's discuss next week when i am back

[2017-11-21 13:43] pjljvandelaar commented on #533
Mapping has another meaning...
Let 's discuss next week when i am back

[2017-11-21 13:48] capitanbatata commented on #146
Indeed. However be aware that it seems that right now @tretmans might have a different idea I think, where the commands to start and stop the SUT are specified in the connect defs.

I guess it depends. If we use a text based protocol we might go for something text based. I won't use XML as it does not have the advantages of a text based format (readability) and it has a lot of overhead. JSON or YA

[2017-11-21 14:59] pjljvandelaar commented on #354
Of course the fail should include the wrong text message

[2017-11-21 17:32] capitanbatata commented on #532
After almost a day trying to reproduce this I finally hit the bug. To me it seems like a bug in GHC (or the base libraries), so I opened a [new bug report](https://ghc.haskell.org/trac/ghc/ticket/14503#ticket). It is a bit late now, but tomorrow I'll try to see if using `Async.cancel` to kill a thread solves the problem. In the meantime somebody might reply at my bug report.

[2017-11-21 20:47] tretmans commented on #533
Indeed, mapper/mapping is something completely different.  Don't use that name.

[2017-11-22 11:06] keremispirli opened #534 "Now we have a Burndown chart"
ZenHub has burndown charts, but we need Estimations on tasks to be able to have them.

Since ZenHub doesn't have number of tasks as a metric, I assigned "1" story point to all the issues in [2017Q4][1] which gave us a burndown chart showing our progress:

https://github.com/TorXakis/TorXakis/milestone/2#reports?report=burndown&milestoneId=2700224&showPRs=false

We will also have a Velocity Trackin

[2017-11-22 11:09] keremispirli commented on #534
Btw, please remember to set the milestone to 2017Q4 and estimation to "1" whenever you start working on a task! (until we have planning and estimation process in place)

[2017-11-22 13:28] keremispirli commented on #183
Added Test Purpose definition page: https://github.com/TorXakis/TorXakis/wiki/PurpDefs

[2017-11-22 14:36] keremispirli commented on #40
Replacing optimization flags in `front` package with `-O0` brought build time down to 8 minutes.
I will trigger a benchmark this evening to see the performance impact.

[2017-11-22 14:38] keremispirli opened #535 "Design & Document Test Architecture for TorXakis"
We should have a document that describes different phases of testing TorXakis, and aims of these phases.

[2017-11-23 14:56] keremispirli opened #536 "Special package for connectiondef specific functions"
toXml, fromXml, toString, fromString, and drop/take While (Not) - use constToXml and constFromXml defined in sys\defs\src\XmlFormat.hs

Part of #133

[2017-11-23 14:58] keremispirli opened #537 "Remove eval code, add eval function"
If constant value then provide that value otherwise yield error!

Part of #133

[2017-11-23 16:41] capitanbatata commented on #40
Benchmarks for latest develop without optimizations on the front.

[code]

[2017-11-24 08:37] pjljvandelaar commented on #40
Do you have a graph for the two?
Thus front with -O0 and current flags?

[2017-11-24 08:38] pjljvandelaar commented on #40
@kerem Did we still optimize the c code or was -O0 the only flag

[2017-11-24 08:41] pjljvandelaar commented on #537
Why add this duplicate ?

[2017-11-24 09:18] keremispirli commented on #537
I splitted #133 into separate tasks for traceability. Since [now we have a burndown chart](https://github.com/TorXakis/TorXakis/issues/534) based on number of issues, splitting such combined issues into separate tasks make our chart closer to actual situation.

[2017-11-24 09:20] keremispirli commented on #40
@pjljvandelaar We don't optimize the C code for this; I removed all flags and added -O0.

[2017-11-24 09:23] #422 closed

[2017-11-24 11:25] pjljvandelaar commented on #40
@keremispirli how long is the compilation time when we use -O0 and the optimization flags for the c code?
If it is still fast, this might be a better option (with respect to the final performance).

[2017-11-24 13:49] keremispirli commented on #40
@pjljvandelaar Looks like it doesn't affect build time; now it's built consistently in 6,5 min, with or without  "-optc-O3 -optc-ffast-math" flags. I will start a benchmark this evening with those flags on.

[2017-11-24 15:32] pjljvandelaar commented on #40
@keremispirli  great

[2017-11-25 10:19] pjljvandelaar commented on #505
Duplicate of #135

[2017-11-25 10:19] #505 closed

[2017-11-27 08:10] capitanbatata commented on #40
Results using develop, without fast (so all optimizations enabled):

[code]

[2017-11-27 09:31] capitanbatata commented on #40
And these are the benchmarks using the current version of `develop` and building **with** the `fast` flag:

[code]

@keremispirli I hope you have enough information to proceed now. If so I can remove myself as an assignee of this issue.

[2017-11-27 10:33] #111 closed

[2017-11-27 10:38] #183 closed

[2017-11-27 14:01] capitanbatata commented on #532
Using `async` works, but it is not a proper solution since abusing it in this way leads to resource leaks. [See here](https://stackoverflow.com/questions/47507586/killing-a-thread-waiting-on-hgetline-from-a-socket-windows) for more details.

[2017-11-27 14:18] #534 closed

[2017-11-27 15:39] capitanbatata commented on #514
Yes, but it might be too early I think.

[2017-11-28 10:02] keremispirli commented on #40
Disabling optimizations for `front` causes a maximum of 1.56% increase of completion time in one case, while *fast* flag causes 5.22% maximum and 4.88%, 4.53% and 3.72% in other maximas.
These values are without C compiler optimizations for `front` package.

Looks like it's OK to proceed with disabling GHC optimizations while keeping C compiler optimizations, since they don't affect build time.
[B

[2017-11-28 13:33] pjljvandelaar commented on #117
Fine with me

[2017-11-29 07:27] pjljvandelaar opened #540 "Merge txsserver with txsui"
Txsui should use the txscore library instead of the txsserver.
The server enables a language independent usage: e.g. call from java in graphical user interface.
However graphical user interface activity is stopped.
Performance will improve.

[2017-11-29 07:50] pjljvandelaar commented on #540
Related to #468

[2017-11-29 08:38] capitanbatata commented on #109
@pjljvandelaar @tretmans I'm adding the `research` label to these kind of epics. When do we plan to start working on this, who is going to work on this and how (Jan with me? Jan alone? Jan and Pierre?)?

CC: @HarmMunkESI

[2017-11-29 08:39] capitanbatata commented on #117
@keremispirli I'm closing this now. Feel free to reopen it if you think we'll miss it ;)

[2017-11-29 08:39] #117 closed

[2017-11-29 09:04] capitanbatata commented on #287
@pjljvandelaar Could you check which other components will be involved in this change? I'm guessing SMT as well.

[2017-11-29 09:23] capitanbatata commented on #262
I'm adding the `research` label, as this requires some experimentation, and an impact analysis of the changes required to instrument this.

[2017-11-29 12:35] pjljvandelaar commented on #109
We are working on this issue. For example usage profiles and replay.

[2017-11-29 12:37] pjljvandelaar commented on #109
However this topic can continue for a long time: difference in models, parts of refinement which couldn't be proved correctly, risk based etc. Etc.

[2017-11-29 12:40] pjljvandelaar commented on #287
Smt. Front (1 can be integer and real).

I assume that's all. One has to do it to be certain ;-)

[2017-11-29 12:52] capitanbatata commented on #109
So I don't know if we should have this as an issue on github. Maybe a markdown document with a list of active research topics might be better. I don't know.

[2017-11-29 14:01] pjljvandelaar commented on #540
I disagree with the low-priority label.....
I think changes will be faster and smoother when the unnecessary sockets in between are removed.
See e.g. #24 and #27 that still aren't solved.

[2017-11-29 14:03] pjljvandelaar commented on #109
I don't mind to close this one, and have some separate issues like
- [ ] test selection - difference in models
- [ ] test selection - unproven parts of refinement

[2017-11-29 14:14] capitanbatata commented on #518
There are a lot of alternatives for implementing RPC, some of them outdated, some of them obsolete, and some of them language specific. Do we know **who** is desiring this feature, which languages are they going to use, and how? I think we need examples of how this would look like.

Also I wonder whether this has any advantages over communicating with the SUT via a message-queue (RabbitMQ, ZeroMQ)

[2017-11-29 16:37] keremispirli commented on #535
It is uploaded to DMSF and communicated internally.

[2017-11-29 16:37] #535 closed

[2017-11-29 18:05] pjljvandelaar commented on #518
When we   support #519 users can implement RPC themselves.
No direct request from users.
To focus our limited resources we close this issue.

[2017-11-29 18:05] #518 closed

[2017-11-30 09:32] keremispirli commented on #500
Closing due to inactivity

[2017-11-30 09:32] #500 closed

[2017-11-30 09:43] #442 closed

[2017-11-30 10:01] capitanbatata commented on #540
Please feel free to adapt the priority label. It was just my estimation, but you have a better overview of what needs to be done first. However we should make sure we don't have a lot of high priority issues, otherwise we run the risk that it looses its meaning (and becomes just a colorful stuff we attach to issues :smile: )

[2017-11-30 15:11] capitanbatata commented on #519
What do they want exactly? Call Haskell functions from code written in Python, C, or Java? Or the other way around?

I think we need to have some running examples to discuss this on some more concrete ground. How would we test a function like this one:

[code]

What is the use case we want to implement: calling `f` from TorXakis, or having users writing a wrapper (connector) around `f` so that it

[2017-11-30 15:16] capitanbatata commented on #519
I'm also not sure how calling TorXakis from another language to run tests would work. I would assume that people would need two actions, say `toWorld` and `fromWorld` that fetches data from TorXakis and puts it in, respectively. The implementation of the connections between the SUT and TorXakis will have to poll TorXakis repeatedly to see if it has some input. Maybe you have some concrete ideas @p

[2017-11-30 15:19] capitanbatata commented on #519
And we could consider [Apache Thrift](https://thrift.apache.org/) as a possible alternative but (as the message broker solution) this goes more into the realm of remote procedure calls.

[2017-12-01 07:46] pjljvandelaar commented on #519
I want the communication to support synchronous messages, like `A ! 3 | B ! "Yes"`.
Of course, a user that doesn't want synchronous output can always add a mapping, like
[code]
With a `toWorld` one can realize that, but I don't know whether a message broker solution will support this.

Similar synchronous input can be  realized.

I have no idea whether we should even want synchronous input and out

[2017-12-01 10:20] capitanbatata commented on #519
How would you translate the synchronous action above to function calls?

What about the other questions? Do you think the difficulties I mentioned are such, or they can easily overcome?

[2017-12-01 11:57] pjljvandelaar commented on #519
The function call of `A ! 3 | B ! "Yes"` could be
[code]
where the list of values in this example are just singletons.

[2017-12-01 13:26] pjljvandelaar commented on #519
The company I used to work in, wanted to call TorXakis from Python (using e.g. [HaPy](https://github.com/ddfisher/HaPy)).

They are not testing a function, but a system with state and data.
Of course, It would be great if one could automatically translate the
torxakis input `A ! 3` to the function call `A(3)`.
However, synchronous events might complicate this (see previous comment).

Note that fun

[2017-12-03 20:37] ramon-janssen commented on #540
Are you planning to entirely remove the socket interface to txsserver? For automated usage, the current socket protocol is nicer than interacting through the user-interface (which is not really a protocol and therefore hard to automate).

[2017-12-04 13:58] capitanbatata commented on #540
At this moment we aren't planing on taking on this issue. However, whatever we do should be backwards compatible with the current use cases, so don't worry about that. In any case, it is nice for us that you (as a stakeholder and contributor) follow these updates closely, so thanks!

[2017-12-06 10:15] keremispirli opened #542 "Fix licenses"
These haskell files have license problems in their documentations:

- FuncTable
- FreeMonoidX
- Product
- Sum

They should be changed to BSD3 from Closed-Form.

[2017-12-07 12:00] pjljvandelaar opened #543 "link doesn't work"
In the section show item of TxsCore (https://torxakis.github.io/TorXakis/doc/core-0.2.1.0/TxsCore.html#g:26),
the link for name (https://torxakis.github.io/TorXakis/doc/core-0.2.1.0/name) doesn't work!

[code]

[2017-12-07 14:36] keremispirli commented on #543
That's because of the comments:
[code]
Apparently haddock interprets angle brackets as internal links.

[2017-12-07 16:01] pjljvandelaar commented on #543
How can we escape <name>?

[2017-12-09 21:30] pjljvandelaar commented on #133
Closed since for remaining activities new issues are made #536 #537

[2017-12-09 21:30] #133 closed

[2017-12-10 08:01] pjljvandelaar opened #544 "Code climate on test java code"
Code climate is right in complaining about our test java code quality.
We have to fix it. Except for some duplication remarks since we have many similar suts.

[2017-12-11 08:34] pjljvandelaar commented on #544
Especially this error should be removed:
code duplication with UID (unique identifier!)
[code]

[2017-12-11 17:30] #542 closed

[2017-12-12 07:46] pjljvandelaar opened #546 "dashboard torxakis"
For management, we need a TorXakis dashboard.
On this dashboard I would like to show
nrof files
nrof lines of code
nrof lines of comment

A few details view are envisioned:
I would like to separate the files & lines into programming language, scripting language etc.
I would like to separate the files & line into core, test & example code

Do tools exists that measure this?
Can we simply output it

[2017-12-12 12:33] pjljvandelaar commented on #546
dashboard should contain far more info, of course... see e.g. #398

[2017-12-14 07:23] pjljvandelaar opened #548 "Haddock documentation not complete"
For example, why is ValExpr not part of the documentation at https://torxakis.github.io/TorXakis/doc/index.html?

[2017-12-14 08:01] capitanbatata commented on #548
Bear in mind that hidden declarations won't appear in the haddock. Also re-exported modules (that we re-export using tricks like `module X`) won't appear either, and this is a known bug of haddock.

[2017-12-14 08:31] pjljvandelaar opened #549 "evaluation of ANY"
ANY is an arbitrary (yet unknown) value.
However, currently TorXakis assumes that multiple ANY's are equal,
hence
[code]
results in `TRUE`
and
[code]
results in `False`

However, is this the correct behavior?
What are the semantics of ANY?

[2017-12-15 14:10] #544 closed

[2017-12-18 09:54] pjljvandelaar commented on #436
In branch: issue/463-solver-defs
removed randOrder - only used in RandPartition.

[2017-12-19 12:32] #436 closed

[2017-12-19 12:33] pjljvandelaar opened #552 "Move to LTS 10.0"
Move to LTS 10.0 (and stack 1.6.1)

Some warnings have to be fixed like
[code]

[2017-12-19 12:34] pjljvandelaar commented on #552
@capitanbatata I really like to move `Integral` to the test code only!

[2017-12-19 13:45] pjljvandelaar commented on #552
TorXakis builds with
`stack build --ghc-options -Wwarn`

@capitanbatata I am curious to the performance with the new compiler!

[2017-12-19 14:42] capitanbatata commented on #552
It depends on what we want. Right now `Integral` is preventing us from building a product of `String`'s. Once we make everything more type safe we can discuss alternatives.

[2017-12-19 14:45] capitanbatata commented on #552
Me too. I don't have my work computer, and I will get a different hardware anyway. @keremispirli will run the benchmarks for the current develop version, and @keremispirli and I are working on automating the benchmarks comparison process so that everyone can run them on his machine (since I don't think we'll get a cloud computer to run the benchmarks anyway).

[2017-12-19 14:49] capitanbatata commented on #532
The only solution I found was to [use binary sockets](https://github.com/capitanbatata/sandbox/tree/master/dangling-connections). But this will require to redefine the communication protocol between TorXakis and SUT, and maybe add some lightweight protocol (which might solve issues like #146).

I'm waiting on @tretmans (or maybe @pjljvandelaar) to decide what to do here.

[2017-12-19 14:50] capitanbatata commented on #122
@tretmans let's decide who's gonna take on this, and when.

CC: @pjljvandelaar

[2017-12-19 14:53] pjljvandelaar commented on #552
all tests seem to pass
[code]

[2017-12-19 14:56] pjljvandelaar commented on #552
@capitanbatata again strange benchmark values:
Now not negative time, but infinite (in a short period)
[code]

[2017-12-19 15:03] capitanbatata commented on #552
@pjljvandelaar No idea, that's what the criterion library is reporting. It might be related to issues https://github.com/bos/criterion/issues/65 and https://github.com/bos/criterion/issues/161.

[2017-12-19 15:04] capitanbatata commented on #552
@PierreVDL @pjljvandelaar are you already working on bumping the LTS? I'm also working on it since you assigned the issue to me :/ ...

[2017-12-19 15:07] capitanbatata commented on #552
And [this](https://github.com/bos/statistics/issues/111) is the issue related to the `NaN` returned when doing linear regression.

[2017-12-19 15:13] capitanbatata opened #553 "Remove the version numbers when specifying the flags in stack.yaml"
In the newest version of stack (`1.6.1`) [it is possible](https://github.com/commercialhaskell/stack/issues/3583) to specify a flag for a snapshot package. So that means that we can go from

[code]

To simply:
[code]

Our `stack.yaml` and `stack_linux.yaml` should be upgraded accordingly.

[2017-12-19 15:50] pjljvandelaar commented on #552
I only tested LTS 10.0, and found out it is valid for TorXakis.
So now comes the real work: fix the warnings!
We were both assigned: but you can make it happen!

[2017-12-20 06:57] pjljvandelaar commented on #408
We should also use weeder to improve code quality: https://github.com/ndmitchell/weeder

[2017-12-20 07:04] pjljvandelaar commented on #86
Duplicate of #87
Most hlint issues have been removed (except some code duplication)

[2017-12-20 07:04] #86 closed

[2017-12-20 08:43] pjljvandelaar opened #555 "How to handle errors in ValExpr & Const?"
Currently, there are two ways to capture an error in ValExpr:
`Verror x` and `Vconst (Cerror x)`.

Why do we have both?
Is this caused by the parser that was leading?
Alternative `Maybe ValExpr` which return Nothing on error.
or `Either ValExpr String` which can return the error string.

When ValExpr becomes typed, can errors still occur?

[2017-12-21 14:33] #552 closed

[2017-12-21 14:33] #553 closed

[2017-12-21 14:51] capitanbatata commented on #533
I guess we can close this.

[2017-12-21 14:51] #533 closed

[2017-12-22 10:03] pjljvandelaar commented on #408
And maybe https://hackage.haskell.org/package/homplexity

[2017-12-22 10:06] pjljvandelaar commented on #408
https://www.reddit.com/r/haskell/comments/464wm4/code_quality_metrics_for_haskell/ for more tooling

[2018-01-03 09:59] pjljvandelaar commented on #262
One of the research items is the 'varenv'.
Is that possible since different variables can have different types, yet Haskell supports 'valexp *' but can one go to 'valexp bool' when that particular variable is of type bool?

[2018-01-03 10:08] pjljvandelaar commented on #47
Why does sqatt still refer to this issue?
It is solved!

[2018-01-03 11:21] keremispirli commented on #47
I'm creating a new issue to implement `checkSMTSolvers` in `sqatt`.

[2018-01-03 11:24] keremispirli opened #559 "Check presence of SMT solvers in sqatt"
`checkSMTSolvers` method is still showing the message "WARNING: Checking the presence of SMT solvers is not implemented." and pointing to #47 while it is already solved.

Checking presence of SMT solvers should be implemented in `sqatt`.

[2018-01-03 14:54] pjljvandelaar commented on #284
Is tonigts failing test a wobbly test.
Seems issue with socket....

[2018-01-03 14:58] capitanbatata commented on #284
Which tests do you mean? I guess the one on my branch. Bear in mind that the branch is work in progress.

We're also in gitter BTW ;)

[2018-01-03 15:00] pjljvandelaar commented on #284
No I mean the nightly tests, that run at 10 o'clock

[2018-01-03 15:03] pjljvandelaar commented on #284
https://semaphoreci.com/capitanbatata/torxakis/branches/develop

[2018-01-03 15:04] pjljvandelaar commented on #284
See how some tests pass while others fail...

[2018-01-03 15:47] keremispirli opened #561 "Moving Arms #model Restricted Axis Purpose Test (input eagerness 0) fails in nightly builds"
Some of the cases are because SUT simulator is still too late to answer, so 5500ms Sut_deltaTime is not enough.

Other cases are because Tester starts way earlier than SUT simulator then times out before the simulator can show up and accept connection.

[2018-01-03 15:47] keremispirli commented on #284
It's always the same test: _Moving Arms #model Restricted Axis Purpose Test (input eagerness 0)_
I created a new issue for it: #561

[2018-01-03 15:48] #559 closed

[2018-01-04 13:47] capitanbatata commented on #408
Here are some metrics I got using `argon`. What do we want to do with this? Put it in code climate?

![screenshot from 2018-01-04 14-44-55](https://user-images.githubusercontent.com/175315/34566202-06ad46f4-f15e-11e7-83da-473103159d27.png)

`expand` and `reduce` are really complex (as we probably know...).

[2018-01-04 17:53] pjljvandelaar commented on #408
Incorporating it into code climate would be great!

[2018-01-05 10:16] #532 closed

[2018-01-08 16:00] pjljvandelaar opened #565 "New ADT structure including checking"
- [ ] Data strucutre for ADT
- [ ] Checking / validation of data structure (when and what)
- [ ] test : generator for ADT (in Quickcheck using sized)
- [ ] test: tests for ADT
- [ ] documentation: haddock documentation
     - [ ] make interface of ValExpr w.r.t. ADT clear
- [ ] follow changes in higher levels of TorXakis

estimate time: 3 weeks

[2018-01-09 16:20] pjljvandelaar opened #567 "ValExprImpl more efficient opportunity?"
Could Sum and Product be made more effective using the same approach as described on
https://wiki.haskell.org/Smart_constructors#Runtime_Optimisation_:_smart_constructors?

[2018-01-09 16:22] pjljvandelaar commented on #565
I propose to use smart constructors: see https://wiki.haskell.org/Smart_constructors for more info

[2018-01-09 21:32] capitanbatata commented on #567
Maybe we need to put these ideas in some other place (like a design document in markdown), otherwise it will take a huge maintenance effort to sort everything up.

[2018-01-10 16:23] pjljvandelaar opened #568 "No comma's in benchmark names"
With sqatt I created the following csv snippet while benchmarking
[code]
Due to the comma's in the name, automatic transformation failed.
So I propose to ban commas from benchmark names.

[2018-01-10 16:24] pjljvandelaar commented on #567
What about TODO / investigation remarks in the code?

[2018-01-10 16:38] capitanbatata commented on #567
Well TODO 's will show up in code climate. I guess we can use some other tag in the code. But consider a markdown document as well.

[2018-01-10 16:40] capitanbatata commented on #568
Yeah, it makes sense . Just piggyback the change in the next PR.

[2018-01-11 09:39] keremispirli commented on #567
I think it's better to have one place for everything and GitHub issues would serve well also for such ideas. We just have to use tags more effectively to keep these in our sights.

[2018-01-12 17:59] pjljvandelaar commented on #503
When new datatypes are added, I propose to no longer accept it: ADTs must be constructable. Similar P ::= SingleConstructor(p :: P) should be rejected as a valid data type, since it can't be constructed.

[2018-01-12 18:00] pjljvandelaar commented on #565
See #503 for an additional requirement

[2018-01-16 13:20] pjljvandelaar opened #569 "link to haddock documentation on Torxakis/TorXakis main page not working"
In readme.md is a link to
https://torxakis.github.io/TorXakis/doc/index.html
Yet this link doesn't work.

[2018-01-16 18:26] pjljvandelaar commented on #561
Is the problem solver exhibiting hiccups?

[2018-01-18 13:16] keremispirli opened #570 "z3 4.6.0 is out"
We should benchmark and decide if we want to upgrade.

https://github.com/Z3Prover/z3/releases/tag/z3-4.6.0

[2018-01-19 09:17] pjljvandelaar opened #571 "Where does txsserver look for configuration file?"
When I start txsserver I get
[code]
As I user I would like to be informed about the absolute paths where txsserver has looked (in order) and has found a configuration file (with name `xxx`)

[2018-01-19 09:25] pjljvandelaar commented on #135
Currently TorXakis tries to connect to all sockets after the command ```tester Model Sut```.
However, when testing `TxsServer` the socket to `TxsServer` exists, yet the socket to the `Sut` or `Sim` will be created later (to be precies, when the tested `TxsServer` executes the ```tester Model Sut``` or ```simulator Model Sim``` command).

So the sockets need to be handled more lazy: only make conne

[2018-01-19 09:31] pjljvandelaar commented on #135
Additional issue:
When testing `TxsServer` the following can hold:
* `TxsServer` is run at a particular port: hence we need a `CLIENTSOCK` to connect.
* `TxsServer` tests a SUT with a `SERVERSOCK`: hence we need a `SERVERSOCK` to provide the same interface as the SUT and to check `TxsServer` acts as expected.

[2018-01-19 09:48] pjljvandelaar commented on #135
I started ```txsserver 6666``` in one window.
In another window, I started `torxakis txsserver.txs` where `txsserver.txs` has the following content
[code]

However, `torxakis` hangs on `tester Model Sut`. I don't understand why....

[2018-01-19 10:09] pjljvandelaar commented on #135
[code]
tests first 3 steps of `txsserver 7777`

[2018-01-19 15:08] pjljvandelaar commented on #135
What about changing the commands & responses in TxsServer to agree with ADT from/to string from TorXakis?
We can then write and read the arguments very easy in TorXakis....

[2018-01-19 18:33] pjljvandelaar commented on #570
Benchmark not necessary. .
We want our bugs solved so we have to keep up with the latest release.

[2018-01-22 08:04] pjljvandelaar commented on #135
Based on some Haskell experiments
[code]
yields
[code]

So
1. The order of fields is relevant in Haskell!
2. nesting is made explicit using curly brackets i.e. { and }

I propose that TorXakis uses the Haskell definition for usage in `toString` and `fromString`.

[2018-01-22 09:18] keremispirli commented on #460
It's about double defined functions, since both accessors and constructor checks are mapped on functions. In this case it's the same function.

[2018-01-22 16:01] keremispirli commented on #570
Pierre tested z3 4.6.0 and CVC4 latest development version; both seem OK.

[2018-01-23 11:55] pjljvandelaar commented on #570
I prefer to add new problem solvers after a release:
we can test `torxakis` together with these new problem solvers almost a quarter before we make a new `torxakis` release.
I assume that real issues will already have been found by that time!

[2018-01-24 10:52] tretmans opened #573 "parameter defs twice?"
Parameters defined twice?

( "param_Sut_deltaTime"      , "2000"      , all Char.isDigit)

occurs in serverenv/src/ParamServer.hs
and in  defs/src/Params.hs

[2018-01-25 08:55] pjljvandelaar commented on #565
To make strings as short as possible use integers in another base: see
https://stackoverflow.com/questions/1959715/how-to-print-integer-literals-in-binary-or-hex-in-haskell

Could one also have a base large than 16?

[2018-01-25 12:26] pjljvandelaar commented on #565
About the name SORT
https://dictionary.cambridge.org/grammar/british-grammar/common-nouns/sort-type-and-kind
http://difference-between.com/english-language/kind-sort-and-type

define:sort yields
1. a category of things or people with a common feature; a type.
2. COMPUTING: the arrangement of data in a prescribed sequence.

define:type yields
1. a category of people or things having common characte

[2018-01-25 12:27] pjljvandelaar commented on #565
@tretmans could you point to a document/websites that makes a difference between sort and type: with and without operators and functions?

[2018-02-01 07:56] pjljvandelaar commented on #565
@keremispirli @capitanbatata Could we use https://wiki.haskell.org/Mutually_recursive_modules to break the cycle of  Sort and ADTDEF?

[2018-02-02 10:30] keremispirli commented on #565
@pjljvandelaar Looks like we can break the cycle by changing `SortADT (Ref ADTDef)` to `SortADT (Ref t)`, sacrificing type-safety for SortADT.

Other option is writing a `.hs-boot` file, about which I have no idea.

[2018-02-02 11:57] pjljvandelaar commented on #565
I thought we tried `SortADT (Ref t)` then
`Sort` would also get a `t` and ADTDef that uses sort would also get a `t`.....

So it would become `Ref ADTDEF Sort` (maybe with brackets) which I don't consider readable....

[2018-02-06 12:15] pjljvandelaar commented on #113
Also visualize what is covered.

[2018-02-07 14:56] keremispirli commented on #565
Experiment results:

Using `Ref Int` introduces a lot of complexity when creating and accessing data structures. Yet it does not provide significant performance gains against using HashMap with entity names (Text).

Test results: Access 1m values with Map lookups

- Map     -> 1.8s
- IntMap -> 0.5s
- HashMap -> 0.7s

Using names (as Text) as references also removes the need of looking up data stru

[2018-02-08 07:54] pjljvandelaar commented on #565
We have two different ways to specify Sort:
* The user uses `Name`: it is unchecked whether this name is valid.
* Internally we use `Sort (Ref ADTDef)`: the reference is checked and is either a predefined sort, or points to a declared ADT.

This mean that we have a number of data structure where both ways to specify sort are possible
* `FieldDef v`
* `FieldDefs v`
* `ConstructorDef v`
* `Construct

[2018-02-08 12:22] pjljvandelaar commented on #565
So the code for `FieldDef v` and `FieldDefs v` becomes
[code]

[2018-02-08 13:54] keremispirli commented on #565
@pjljvandelaar I don't know whether we have a convention about it yet; it looks like right now we have both.

Comparing current definitions above with what you wrote, are we replacing `Sort` altogether with type parameter v ?

[2018-02-08 14:18] pjljvandelaar commented on #565
How to handle `v` in `Ref (ADTDef v)`?
See
https://wiki.haskell.org/Empty_type and
https://stackoverflow.com/questions/16892570/what-is-in-haskell-exactly

or just use `Ref ADTDefs`?

[2018-02-08 14:19] pjljvandelaar commented on #565
We are creating variants: the non-checked (`v` equals `Name`) and the checked (`v` equals `Ref (ADTDef v)`)

[2018-02-08 14:24] pjljvandelaar commented on #565
Indeed, `FieldDef Name` contains unchecked sort references (user input), ie, `Name`, while
`FieldDef Sort` contains checked sort references, ie., `Sort` that internally contains `Ref (ADTDef v)`.
Since by defining `ADTDefs` everything is checked, one doesn't need the variant anymore at that level.

[2018-02-08 14:30] pjljvandelaar commented on #565
If we would write `Ref (ADTDef Sort)`, I think we have the solution as mentioned on https://wiki.haskell.org/Mutually_recursive_modules

[2018-02-08 14:53] pjljvandelaar commented on #468
Note: like XML, JSON escapes special characters like \n and control characters.
Furthermore, JSON can have recursive data types:
https://groups.google.com/forum/#!topic/json-schema/z-MkAZ7Z47Y

[2018-02-09 07:58] pjljvandelaar commented on #565
@keremispirli  about the convention: I think we should use `-- | ` when the constructor is NOT public and `-- ^ ` when it is!

[2018-02-12 15:03] capitanbatata commented on #565
@pjljvandelaar @keremispirli I've updated the issue by adding some checkboxes with the tasks I understand need to be finished in order to complete this task. @pjljvandelaar Please take a look at these. Maybe we can merge the checkboxes into one.

[2018-02-12 15:15] capitanbatata commented on #565
Why not just using `--|` everywhere? In that way we have more characters to fit in one line.

[2018-02-12 16:52] pjljvandelaar commented on #565
For me '--|' is as long as '--^' ... so I don 't understand your remark....

[2018-02-12 17:27] capitanbatata commented on #565
You use `-- ^` to refer to the element that precede the comment, and `-- |` to refer to elements that follow. Example:

[code]

[2018-02-13 07:56] pjljvandelaar commented on #565
See http://haskell-haddock.readthedocs.io/en/latest/markup.html ...

[2018-02-13 09:09] capitanbatata commented on #565
Ok, you meant the top level declaration. Why not stick to `-- |`? Less cognitive load (than having to remember conventions about whether it is a private or public function), and nothing needs to be changed if a function is changed to public or vice-versa.

[2018-02-13 09:56] pjljvandelaar commented on #565
I agree just stick to `-- |` (had to read the docs to get the real meaning of `-- ^`).

[2018-02-13 10:09] capitanbatata commented on #565
I built and installed `argon` on Linux, and it seems to work. See for instance the `lpe` dode:

![screenshot from 2018-02-13 11-08-39](https://user-images.githubusercontent.com/175315/36144433-4a7b1be4-10ae-11e8-8fe9-6a601989e32a.png)

Sadly I think it does not work on Windows, but I can run the analysis and report it here.

[2018-02-13 13:07] capitanbatata opened #575 "Fix all the `hlint` warnings introduced by the `lpe` branch"
The [`lpe` branch](https://github.com/TorXakis/TorXakis/pull/574) introduced a large number of `hlint` warnings that should be removed to help our efforts to raise the quality of TorXakis.

Some `hlint` hints can be applied automatically, as explained [here])(https://stackoverflow.com/questions/37148753/can-hlint-automatically-do-suggested-edits/48764272#48764272).

[2018-02-13 13:13] capitanbatata opened #576 "Fix all the compiler warnings introduced by the `lpe` branch"
The [`lpe` branch](https://github.com/TorXakis/TorXakis/pull/574) introduced a huge number of compiler warnings  that should be removed to help our efforts to raise the quality of TorXakis.

Right now, in every source file inside the `sys/lpe` folder, there are pragmas that disable all the warnings (which we treat as errors under normal circumstances):

[code]

All these warnings must be eliminate

[2018-02-16 11:13] capitanbatata commented on #565
I'm adding an extra task to move the `.cabal` file to use `hpack` since that will simplify our maintenance tasks.

[2018-02-16 14:27] pjljvandelaar commented on #565
Why not make a separate issue: move to hpack?
We can then discuss the pros and cons.

Furthermore it keeps this issue more focussed.

[2018-02-16 14:34] capitanbatata commented on #565
I already migrated to `hpack` 🙃

New projects in stack come with `hpack` by default. See if you like the new approach, we can revert later. But `hpack` is seen as a superior alternative to `cabal` (hpack generates cabal files automatically).

[2018-02-16 14:35] capitanbatata commented on #565
Yes.

[2018-02-18 12:25] capitanbatata commented on #565
@pjljvandelaar and @keremispirli I've finished an alternative version of what you guys did so far. In the `ADTExp.hs` file you can find the untidy version. In the `Alt` folder you can find the more organized version.

Since @pjljvandelaar starts early on Monday, he can take a look at what I've done already. On Monday after 9:30 the three of us can discuss my questions and suggested changes, and me

[2018-02-18 20:14] pjljvandelaar commented on #284
Last night build failed due to socket address already in use....
We should reopen this issue or create a new one...
See https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/239

[2018-02-18 21:59] capitanbatata commented on #284
I propose to open a new issue with that specific error. That will give us more focus and a beter definition of done.

[2018-02-20 15:44] pjljvandelaar opened #578 "nightly build fails"
One of the nightly builds failed due to socket address already in use....
See https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/239

[2018-02-20 15:45] pjljvandelaar commented on #284
done see #578

[2018-02-20 19:00] pjljvandelaar commented on #570
@kerem didn't you do this? So can this issue be closed?

[2018-02-21 07:30] pjljvandelaar opened #579 "too many branches in archive"
We have many branches which complicates the situation for a new user/contributer.
See e.g.
![image](https://user-images.githubusercontent.com/18348654/36467920-57f7b0a0-16e1-11e8-8016-fbea33ee30fd.png)

Can we get rid of non-longer used branches?

[2018-02-21 10:28] capitanbatata opened #580 "Migrate the cabal files to hpack"
[`hpack`](https://github.com/sol/hpack) is the new `stack` standard for Haskell packages specification. It helps the maintainability of packages as:

- It allows to factor out compiler options, and libraries.
- It automatically includes other modules when new files are added.

The new `sort` package includes an `hpack` configuration that replaces the cabal files, so see the `sys/sort/package.yaml`

[2018-02-21 12:53] keremispirli commented on #579
I deleted the `feat/coveralls` branch that I have created for experiment. I don't have any other inactive branches.
@TorXakis/development you can see all your branches from **Your Branches** box on https://github.com/TorXakis/TorXakis/branches .

[2018-02-22 12:07] keremispirli commented on #570
@pjljvandelaar No I didn't; I thought you wanted it to be added after the release?

[2018-02-22 12:17] keremispirli opened #582 "Removing SortError"
The conclusion of our ( @pjljvandelaar , @capitanbatata , @keremispirli ) discussion is that even though SortError can be used in TorXakis models and be accepted by the parser, since SMT does not support it, most of the time it will eventually cause a TorXakis error. There are rare cases that it can legally exist in a TorXakis model, but we do not know anyone who makes use of such cases. As a resu

[2018-02-22 13:05] pjljvandelaar commented on #570
Didn't we not just release 0.5.0?

[2018-02-22 14:51] pjljvandelaar commented on #291
In fact, TorXakis should use RIMGEA: see https://reqtest.com/testing-blog/3-simple-tricks-to-make-exploratory-testing-more-efficient/

* reproducible?
* isolate / shrink (see #129): also find conditions like bug occurs when x+y >= 2^32
* maximize it: find different paths that lead to the same bug (how to know the bug is the same ;-)
* generalize it: e.g. once you find that the string "NULL" leads

[2018-02-22 15:21] pjljvandelaar commented on #579
How to make a recurring activity for this?
Regularly remove inactive branches....

[2018-02-22 15:26] pjljvandelaar commented on #129
Shrinking is also called isolate: see e.g. https://reqtest.com/testing-blog/3-simple-tricks-to-make-exploratory-testing-more-efficient/

see also https://testkeis.wordpress.com/2011/06/22/rimgea/
and https://testkeis.wordpress.com/2009/03/29/bug-isolation/

Should TorXakis use and automate RIMGEA?

[2018-02-22 17:24] capitanbatata commented on #565
ADT generators are ready. We should be able to quick-check good weather scenarios. @pjljvandelaar please check if this is what you had in mind.

[2018-02-22 20:55] tretmans commented on #582
I have no idea what this is about.

[2018-02-23 07:38] pjljvandelaar commented on #565
@capitanbatata I think you forgot to check in ;-)
I get build errors.
``

[2018-02-23 07:48] pjljvandelaar commented on #565
`f:fs <- elements famousPeople` assumes that although `O` is a real last name, `O` will not become famous ;-)

[2018-02-23 07:54] pjljvandelaar commented on #565
[code]
I would have create just one element `c0` instead of a list, but both are fine.

[2018-02-23 08:01] pjljvandelaar commented on #565
Maybe it is for later, but I am missing some termination logic needed for making `ValExpr` that use constructors and accessors (and which have to terminate despite recursive data types).

[2018-02-23 08:24] keremispirli commented on #579
Normally we remove every branch after we merge it. Some branches stick around though; in coveralls case I didn't delete it because I thought it will be useful in the future when it becomes applicable.
IMO as long as we keep deleting branches after we merge, we won't need to clean often.

[2018-02-23 08:32] pjljvandelaar commented on #565
Final remark:
In arbitraryConstructorDefs, I read
[code]
I assume this explicitly uses the way the generator works: from the `ConstructorDefs` a single `ADT` is made (next). And never is a single `ADT` made from multiple `ConstructorDefs`.

[2018-02-23 08:54] pjljvandelaar commented on #565
@keremispirli We have to discuss `Referencable` once more.
We have `ref by name` `ref by signature` and `ref by unique id`.
For `ref by unique id` we need a Monad (to remember the look up table).

We as developers have a choice: how do we refer?
For example, a reference to a function can be `ref by signature` and `ref by unique id`.
So the `convertsTo`  for
[code]
might be too prescribing: it shou

[2018-02-23 09:36] pjljvandelaar commented on #582
You can write `ERROR` in a TorXakis model.
Yet often it doesn't work since we cannot pass `ERROR` on to the smt-solver.
We propose to remove the support for `ERROR`

[2018-02-23 09:45] capitanbatata commented on #565
That's because I did not remove the warnings yet. Try with:

And to play with the generators load the REPL with:

[2018-02-23 10:12] pjljvandelaar commented on #565
@capitanbatata what is generated looks good!

Since I only see [a-zA-Z] as characters, we might not be testing it as thoroughly as we want since I think more characters are allowed to make valid names. Or should we limited what is valid in the smart constructor of `Name`?

[2018-02-23 10:27] capitanbatata commented on #565
I don't know if we want to generate strings with any  printable characters at this point. In the sort package we only use the name for string comparison, so I don't know if using random strings will help us in testing. In the future we might add a switch to toggle between readable names and more random stuff.

[2018-02-23 10:36] keremispirli opened #584 "Cover test code in CodeClimate"
`test` folders are automatically excluded by CodeClimate: https://docs.codeclimate.com/docs/excluding-files-and-folders#section-auto-generated-file-and-folder-exclusions
We can add _"**/test"_ to our `codeclimate.yml` file to include them.

[2018-02-23 11:09] capitanbatata commented on #584
Looks like a low-hanging fruit. Can't we do it in the `issue/565-newADTstructure` branch?

[2018-02-23 11:27] keremispirli commented on #503
Implemented in #565

Constructors with zero fields, on the other hand, are valid.

[2018-02-23 11:27] #503 closed

[2018-02-23 11:31] keremispirli commented on #584
I wanted to see if everyone agrees :)

[2018-02-23 11:36] keremispirli commented on #584
Done in #565

[2018-02-23 11:36] #584 closed

[2018-02-23 11:50] pjljvandelaar commented on #565
let's discuss on Monday the composability of generators.
How would you generate a function definition that has arguments including adt as sort?

Could we also have made a field generator that would get a set of available data dataypes and a set of forbidden field names, and similar a constructor generator and adt generator?

[2018-02-23 14:14] tretmans commented on #582
I see. Yes, then remove ERROR. Or there should be a way to prevent it from entering the SMT. In TXS itself and in evaluation it can be solved, I think.
But ANY has more or less the same problems. How is it done with ANY?

[2018-02-26 07:37] pjljvandelaar commented on #565
I realized that the generators allow recursive data types but only to themselves: like List
[code]
I think a group of recursive data types is not generated,
For example,
[code]
is imho not covered.
@capitanbatata Do you agree?

[2018-02-26 10:20] capitanbatata commented on #565
@pjljvandelaar agree.  I'll make a new checkbox out of it. @keremispirli please bear in mind that we don't need to complete all the TODO's in the issue description to close https://github.com/TorXakis/TorXakis/pull/585, let's aim to finish the absolute minimum, and promote the unfinished tasks as TODO's.

[2018-03-01 15:23] tretmans opened #587 "chanIdExit in front"
chanIdExit wordt nu pas in Expand toegevoegd aan expand voor parallel;
verander door al in front toe te voegen

[2018-03-01 16:42] pjljvandelaar opened #588 "formal semantics of interrupt"
The wiki page of the interrupt operator `[><` is very empty (https://github.com/TorXakis/TorXakis/wiki/Interrupt_Operator)

Furthermore, can we do everything we want with it or do we need two operators?
* optional interrupt  (compare with ? in regular expressions)
* repeated interrupt (compare with * in regular expressions)

[2018-03-02 10:01] keremispirli commented on #362
Remaining work:
 - [ ] command line arguments, e.g., `torxakis --paramX=ValX --paramY=ValY`
 - [ ] initialization-time and run-time changeable parameters
 - [ ] error handling for attempts to change init-time parameters with `param` command

[2018-03-02 11:47] #548 closed

[2018-03-02 11:47] #569 closed

[2018-03-05 08:03] pjljvandelaar opened #589 "smart constructors for BExpr"
In the recent week I saw at least two cases that should be solved by smart constructors for BExpr:

In TxsHappy, we see the implementation of the smart constructor (that combines multiple parallels) in multiple places
[code]

For LPE, we want to replace the ActionPrefix `A[[False]] >-> P` by `STOP`

[2018-03-05 21:01] capitanbatata opened #592 "Running `torxakis` leads to an "hGetLine: end of file" error"
When running `torxakis` on MacOS the following errors are encountered:

[code]

[2018-03-05 21:03] capitanbatata commented on #592
Apparently this is cause by the fact that TorXakis cannot find the `z3` solver.  We should probably give more user friendly errors.

[2018-03-05 21:08] capitanbatata opened #593 "Give an informative error message when the SMT solver cannot be found"
If `torxakis` is run in an environment where the selected SMT solver is not installed it will abort with an:
[code]
message.

We need to give more appropriate error messages.

[2018-03-05 21:09] capitanbatata commented on #592
I can confirm this behavior on Linux. Running `torxakis` without arguments works, however running:

[code]

will result in a `hGetLine: end of file` error.

[2018-03-06 08:44] pjljvandelaar commented on #592
What does it mean `torxakis whatever`?
Can't it read the `whatever` file?
Or has it something to do with the SMT solver?

[2018-03-06 08:48] pjljvandelaar commented on #582
Remove not only SortError but also Verror and Cerror (the objects with type SortError): handle errors via [Either](https://hackage.haskell.org/package/base-4.10.1.0/docs/Data-Either.html). Use [partitionEithers](https://hackage.haskell.org/package/base-4.10.1.0/docs/Data-Either.html#v:partitionEithers) to combine errors.

[2018-03-06 10:05] capitanbatata commented on #592
I think it must be a problem with the server, which aborts when it cannot open a file

[2018-03-06 21:10] #570 closed

[2018-03-07 08:21] keremispirli commented on #561
It failed tonight, too. I looked a bit deeper and it looks like the problem may be related to model.

Here are related parts from logs:
Tester:
[code]
Simulator:
[code]

[2018-03-07 17:33] pjljvandelaar commented on #561
Could also be problems related to synchronization and/or socket communication

[2018-03-07 21:31] pjljvandelaar commented on #561
On my computer I had a case where the simulator was ready
[code]
yet the tester wasn't
[code]
So we might have to add steps to the simulator!

[2018-03-09 08:42] #582 closed

[2018-03-09 08:42] #555 closed

[2018-03-09 14:55] pjljvandelaar commented on #579
close issue: not relevant enough

[2018-03-09 14:55] #579 closed

[2018-03-09 14:56] pjljvandelaar commented on #537
What are we going to do now the milestone has passed?

[2018-03-09 15:51] capitanbatata commented on #537
I would ask ourselves how important this is for us and our stakeholders. Kerem and I have tasks for the coming weeks, and after that we can see what's on our backlog and reprioritize.

[2018-03-10 16:11] pjljvandelaar commented on #578
Also tonight the build failed.
https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/270
The simulator is finished before the tester....

[2018-03-10 16:14] pjljvandelaar commented on #578
Is this due to the new z3 version?
See https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/266
Build 267 and 268

[2018-03-12 08:39] keremispirli commented on #578
Caused by #561

[2018-03-12 08:47] keremispirli opened #598 "Run nightly builds in AppVeyor"
Currently we run nightly builds only for SemaphoreCI, which is Linux environment. We should also run them on Windows environment. We can use AppVeyor for that.

[2018-03-12 10:33] keremispirli opened #599 "Sut/Sim delta time should be a parameter"
param_Sut_deltaTime is implicit in World.putSocket.

SocketWorld.hs:
[code]

TxsServer.hs:
[code]

Related to #30 , #561 and #578

[2018-03-12 13:07] pjljvandelaar commented on #599
related to #500 as well

[2018-03-12 16:30] capitanbatata opened #601 "Handle asynchronous exceptions on failure to allow for log files to be written"
Currently, there is a delay that was introduced to allow for the terminated process to write the log files:

[code]

The delay should be removed and instead `txsServerProc` and `txsUIProc` should catch the asynchronous exceptions and flush whatever log files are written by these processes.

[code]

[2018-03-13 07:32] pjljvandelaar commented on #578
@keremispirli I think we need to be more precise:
Failing test due to the simulator which is finished before the tester is caused by #561
The first reported issue (socket address already in use) is not

[2018-03-13 08:51] pjljvandelaar commented on #291
For automatic test diagnostics, I propose to add (or replace the A by)
* Avoid it: Continue nightly testing yet avoid earlier found issues

[2018-03-13 08:55] #599 closed

[2018-03-13 08:55] #30 closed

[2018-03-14 07:23] pjljvandelaar opened #602 "nightly build failed: faster tests failed resource busy (Address already in use)"
Tonight the nightly build failed.
The faster tests failed: resource busy (Address already in use)
[code]

See https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/275

[2018-03-15 07:58] pjljvandelaar commented on #602
Issue does not always occur:
see e.g. https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/276

[2018-03-19 10:39] pjljvandelaar commented on #589
- [x] Add smart constructors (indirection)  -- see #604
- [x] Add exception handling (checking e.g. guard has boolean valexpr) -> made separate issue #720
- [ ] Add smart constructor (logic)
  - [x] Stop
     - [x] No special Stop constructor, use Choice with empty list instead.
  - [x] Action Prefix
      - [x] A?x [[ False ]] >-> p == stop
  - [x] Guard
      - [x] [[ True ]] =>> p == p
      -

[2018-03-19 16:07] pjljvandelaar commented on #361
For `subst` I propose the following solution:

Pass around an `environment` which inherits from the some of the following classes
[code]
For example,
[code]

[2018-03-20 07:41] pjljvandelaar commented on #361
@capitanbatata what do you think of only three environments:
`SortEnv` only `HasSorts`
`FuncEnv` has `HasSorts` and `HasFuncs`
`ProcEnv` has all?

Advantage: data structure remains flat and overloading is allowed.

Alternative (with more nesting of data):
`SortEnv`  `HasSorts`
`FuncEnv` contains a `SortEnv` and `HasFuncs`
`ProcEnv` contains a `FuncEnv` and `HasProcs`

[2018-03-20 08:13] capitanbatata commented on #361
That could work as well. The disadvantage is that we would need to implement the instances multiple times.

For instance:

[code]

And we would need three more instances (with a lot of boilerplate as well) for `ProcEnv`. Also we're imposing a more rigid structure it seems.

All in all, this approach and mine have their advantages and disadvantages, so it is a matter of doing some mocking up, playi

[2018-03-20 11:48] pjljvandelaar commented on #361
Yeah, it is unfortunate that we can't provide a default implementation...
Since for all three indeed we want the same implementation....

[2018-03-20 15:49] triantafyllidisk commented on #492
I would like the support of Float and Double Data types. This is essential for the support of the interfaces used in the use case.

[2018-03-20 16:26] triantafyllidisk commented on #492
I really only need #287

[2018-03-20 18:52] pjljvandelaar commented on #602
txsserver: Network.Socket.bind: resource busy (Address already in use)
once more  ...
See
https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/284

[2018-03-20 19:01] pjljvandelaar commented on #543
@tretmans [txsShow's documentation](https://torxakis.github.io/TorXakis/doc/core-0.2.1.0/TxsCore.html#g:29)
 links now to
https://torxakis.github.io/TorXakis/doc/valexpr-0.0.1.0/VarId.html#v:name is this correct

[2018-03-21 07:31] pjljvandelaar commented on #287
How do we handle conversion between real and int?
I propose to do it explicit.
so `1 + 1.0` is an error: it should be `toReal(1) + 1.0`
Note: also smtlib doesn't support implicit conversion.
See e.g. page 26 -27 of [SMTLibTutorial](http://smtlib.github.io/jSMTLIB/SMTLIBTutorial.pdf)
[code]

See
[Reals in smtlib](http://smtlib.cs.uiowa.edu/theories-Reals.shtml)
[Reals and Int in smtlib](http://smtl

[2018-03-21 07:34] pjljvandelaar commented on #543
We should better read the [Markup page](https://www.haskell.org/haddock/doc/html/ch03s08.html)

[2018-03-21 12:05] pjljvandelaar opened #607 "Parser: CONSTDEF of const ValExpr fails"
The following torxakis file (renamed to satisfy constraints of github)
[ConstDef.txt](https://github.com/TorXakis/TorXakis/files/1833104/ConstDef.txt)
with content
[code]
is successfully parsed:

[code]
yields
[code]
and typing `eval x`  and `eval y` yield the right answers
[code]

However, typing `eval z` does not lead to the right answer:
[code]

[2018-03-21 15:22] #543 closed

[2018-03-22 10:00] #607 closed

[2018-03-22 13:41] tretmans opened #609 "Hidden vars in BExpr for LPE"
In BehExprDefs.hs: add hidden variabelen in BExper voor LPE:

-- | ActOffer
-- Offer on multiple channels with constraints
data ActOffer = ActOffer
  { offers     :: Set.Set Offer      -- PvdL -- why not? -- Map ChanId [ChanOffer]
  , hidvars    :: Set.Set VarId
  , constraint :: VExpr
  } deriving (Eq, Ord, Read, Show, Generic, NFData, Data)

Heeft gevolgen van syntax (front) t/m Expand

[2018-03-22 14:51] tretmans commented on #128
- [x] Hide
- [x] EXIT
- [x] Enable
- [x] Disable
- [ ] Interrupt
- [ ] StAutDef
- [x] Guard
- [ ] ValueEnv
- [ ] Generalized Parallel

[2018-03-22 15:10] tretmans commented on #609
relates to #128

[2018-03-22 16:25] pjljvandelaar commented on #265
currently locked due to Yices not recognizing the `ALL` logic:
https://github.com/SRI-CSL/yices2/issues/84

[2018-03-22 16:35] pjljvandelaar commented on #265
Even the simple `Echo.txs` examples fail
[code]

We generated the following smt:
[code]

Yices produces as output
[code]

[2018-03-23 07:38] pjljvandelaar commented on #265
And additionally: https://github.com/SRI-CSL/yices2/issues/85

[2018-03-23 08:29] pjljvandelaar commented on #419
Communication with `Mathsat` solver is not stable.
The communication get lost (at some point):
see e.g.
[code]
with server:
[code]
Yet the smt-log contains more steps:
[code]
Unclear why only `MathSat` communication fails: Z3, cvc4 and Yices seem to work fine.

[2018-03-23 09:58] pjljvandelaar commented on #135
Using `tuples` one can make it more similar how `fromString` currently works in Torxakis

For example
[code]
yields
[code]

@keremispirli How would it work in the new `txsserver` that uses `JSON` to encode data?

[2018-03-23 10:03] pjljvandelaar commented on #135
I no longer consider it an Epic: we are working on it and it can be done relatively quickly.
We have to make the same data structure as TorXakis uses in our Model.
And we have to enable the parsing of the values into the Model.

Testing TorXakis with ToXakis doesn't add something for the user: so new-feature seems wrong...

[2018-03-23 11:50] pjljvandelaar commented on #589
To rewrite the BExpr we have to specify the equivalence relation.

Possible rewrites
[code]
[code]
[code]
Anything also used in LPE (see #128)

[2018-03-23 13:48] keremispirli opened #611 "Copyright 2018"
The dates in our [copyright notice](https://github.com/TorXakis/TorXakis/blob/develop/copyright.txt) and [license](https://github.com/TorXakis/TorXakis/blob/develop/LICENSE) should be updated to 2018.

@pjljvandelaar you have mentioned an updated copyright notice. Should we wait for it or just update current notices?

[2018-03-23 15:30] pjljvandelaar commented on #611
@HarmMunkESI what should the text be, since ESI naming has changed: e.g. from ESI by TNO to a separate entity....

[2018-03-26 06:37] pjljvandelaar commented on #589
See also #488 and #487

[2018-03-26 15:53] keremispirli commented on #135
We have multiple other issues as part of this issue, so I'm adding Epic label back.

[2018-03-26 16:03] capitanbatata opened #613 "Test TorXakis with TorXakis using the Echo model"
**Acceptance criteria**: The following work-flow should end-up in an unit-test for `txs-lib`:

1. Load a "`TorxakisWithEcho"` echo model, which describes the behavior of `TorXakis` when it loads the `Echo.txs` model, and steps through it.
2. Run the tester for a number of steps.
3. Verify that the verdict is "Pass"/

The `Echo.txs` model can be found in the examples folder.

A more detailed flow o

[2018-03-26 16:05] capitanbatata commented on #613
@pjljvandelaar @tretmans could you review that this is what we want to achieve, and that if we achieve this then we can close #135.

[2018-03-26 16:06] keremispirli opened #614 "Investigate CNECTDEFS"
Identify how and where TorXakis communicates actions to&from SUT.

[2018-03-26 16:12] keremispirli opened #615 "Add support for HTTP to CNECTDEFS"
Add ToWorld & FromWorld implementations for HTTP.

[2018-03-26 16:13] capitanbatata opened #616 "Create a `TorXakisWithEcho` model"
The model should specify how `TorXakis` will behave when the `Echo` model is stepped through.

[2018-03-26 16:16] capitanbatata opened #617 "Define how the connections to/from an HTTP capable SUT will be specified."
Create a document describing how this will be specified in TorXakis language, and place it somewhere in our repo.

[2018-03-26 16:29] keremispirli opened #618 "Create and upload v0.6.0 installer"
- [x] Update CHANGELOG.md
 - [x] Follow instructions in [Windows Installer's README.md](https://github.com/TorXakis/SourceWindowsInstaller/blob/develop/README.md)

[2018-03-26 16:29] keremispirli opened #619 "Compare benchmarks of 0.6.0 to 0.5.0"
We have different hardware now, so we cannot use the numbers we got for previous release. In order to see the changes in performance we have to benchmark previous and current versions and compare those results.

[2018-03-26 16:29] keremispirli opened #620 "Release 0.6.0"

[2018-03-27 11:28] keremispirli commented on #614
`cmdTester` and `cmdSimulator` in *TxsServer* call `txsSetTest` and `txsSetSim` in *TxsCore*, which has `putToW` (put to world) and `getFroW` arguments as types of `TxsDDefs.Action -> EnvCore.IOC TxsDDefs.Action` and `EnvCore.IOC TxsDDefs.Action` respectively.

TxsServer passes `putSocket` and `getSocket` functions from *SocketWorld* in **cnect** package, curried by `ioTime` and `deltaTime` parame

[2018-03-27 13:40] pjljvandelaar opened #621 "Parse error"
When one parses the following (faulty) file:
[TorXakisWithEcho.txt](https://github.com/TorXakis/TorXakis/files/1852180/TorXakisWithEcho.txt)

One gets at the server:
[code]
and at torxakis
[code]

A clearer error message should be reported ;-(

[2018-03-27 14:17] pjljvandelaar commented on #621
`front` is build using `ghc-options:         -Werror -Wall -O0 -optc-O3 -optc-ffast-math`.
Yet, why is this non-exhaustive pattern not reported during compilation?
`Wall` includes `warn-incomplete-patterns`....

[2018-03-28 07:07] pjljvandelaar opened #623 "How to ask torxakis for help?"
Most programs print out a help message when one passes something like
`-h` ,`/?` or  `--help`.
However, `torxakis` accepts none of them: it just reports
[code]

[2018-03-28 07:12] #621 closed

[2018-03-28 07:19] keremispirli commented on #621
Happy adds a `-w` flag to the generated TxsHappy.hs file, which suppresses **all** the warnings.

[2018-03-28 07:23] capitanbatata commented on #623
Right now the command line options are present only at the server (`txsserver`):

[code]

I propose to address this in the a new TorXakis command line interface (CLI).

[2018-03-28 08:43] pjljvandelaar commented on #495
Can one use `"` with file paths?

[2018-03-28 10:02] pjljvandelaar commented on #87
[ ] Start using code climate to track hlint warnings
[ ] check test code for hlint warnings as well as src code.

[2018-03-28 11:03] #575 closed

[2018-03-28 12:51] capitanbatata commented on #617
@pjljvandelaar @keremispirli @tretmans I've drafted a proposal on how to connect TorXakis with the SUT via HTTP, so that we can test TorXakis with TorXakis. Please see:

https://github.com/TorXakis/TorXakis/commit/43ddfa8dd54a2b5094e905f868cb8702035437b5

This might be of interest for @triantafyllidisk and @Mathijssen

[2018-03-28 12:52] #616 closed

[2018-03-28 12:53] capitanbatata commented on #616
Closing this one since we discussed this between @keremispirli @pjljvandelaar and @capitanbatata. Now we have to move on and make this test possible!

[2018-03-28 12:54] capitanbatata opened #625 "Test the info command"
The `TorXakisWithEchoInfoOnly.txs` file defines a simple model that tests whether the info command works. We could use this as the starting point for defining how torxakis actions are mapped to and from HTTP.

[2018-03-29 07:50] pjljvandelaar commented on #331
Changed name to reflect Kostas' need not only to read a field (which maps nicely on an accessor function) but also to write to a field (where lenses are used in functional languages).

Kostas needs are cause by his desired to translate ComMa models to TorXakis models.
In ComMa field accessors are not mapped onto functions.

Just like in object oriented languages, it would be nice to have
both read

[2018-03-29 07:55] triantafyllidisk commented on #331
Why should fields been treated different than variables? See issue #384 @capitanbatata

[2018-03-29 12:29] pjljvandelaar commented on #291
Additionally, the fault might be localized automatically: for which code might be needed...

For inspiration, look at  `Localizing Faults in Simulink/Stateflow Models with STL` by
 Ezio Bartocci, Thomas Ferrère, Niveditha Manjunath and Dejan Nickovic, accepted for the  21st ACM International Conference on Hybrid Systems: Computation and Control (HSCC 2018).
This paper uses spectrum-based fault loc

[2018-03-29 13:20] pjljvandelaar commented on #129
Seems also to be related to `Model Slicing`.
See e.g. [Slicing MATLAB Simulink models by Reichert and Glesner in Proc. of ICSE 2012](https://doi.org/10.1109/ICSE.2012.6227161)

[2018-03-29 15:27] pjljvandelaar commented on #576
- [ ] hlint
- [ ] warnings LPE.hs
- [ ] warnings LPEfunc.hs
- [ ] warnings in tests

[2018-03-30 07:52] capitanbatata commented on #614
I just saw my mention. I guess you know the answer after our pair programming session of yesterday, don't you?

[2018-03-30 07:53] capitanbatata commented on #614
And maybe we can close this issue.

[2018-03-30 07:57] capitanbatata commented on #361
Ok, after asking around in SO, I got [this excellent answer](https://stackoverflow.com/questions/49545045/defining-incremental-environments-without-running-into-overlapping-instances/). We can definitely use it for defining what I call incremental environments. Furthermore, since these ideas can be also used at the compiler, we can promote the `Has` class to a library that we can use in `TorXakis`

[2018-03-30 08:26] pjljvandelaar commented on #361
Nice answer... higher Haskell....

[2018-03-30 08:44] #614 closed

[2018-03-30 09:03] capitanbatata commented on #361
Well actually type level programming in Haskell. But it is not that difficult actually, and the type computations that we need are quite trivial.

[2018-03-30 09:42] pjljvandelaar commented on #361
Let's sit together and build it for hasSort, hasFunction, and hasProcs

[2018-03-30 09:58] capitanbatata commented on #361
Sure.

[2018-03-30 12:49] capitanbatata opened #628 "Is the comma in `LET` expressions needed. If so, what is an example of this?"
Let expressions allow to declare local variables separated by commas. For instance:

[code]

The only difference in semantics wrt using semi-colons seems to be that an identifier defined the list of  `LET` declarations separated by comma's cannot be used at the defining expression side. For instance:

[code]

will give rise to an error, since the identifier "v" cannot be resolved. Are there cases

[2018-03-30 13:05] capitanbatata opened #629 "Do we really need two ways of writing and's?"
In `TorXakis` we can write a logical and using `/\` and `,`. Is there a good reason for supporting both?

[2018-03-30 13:07] capitanbatata opened #630 "Discuss the need from a TorXakis language"
With all the change requests from Kostas and with the advanced capabilities of Haskell we are learning, I can't suppress the feeling: did we make the right decision when we conclude that Haskell could not provide us with the needed reflective capabilities and our own torxakis language was unavoidable.
Sbv also solves functions using smt solver so reflection on functions has to be possible.....

[2018-03-30 13:14] pjljvandelaar commented on #629
I was always for one and only one way to express your self. So I am in favour of dropping the comma alternative.

[2018-03-30 13:15] capitanbatata commented on #630
That was my question as well about half a year ago ;) However I don't know who the users of the `TorXakis` language are, what is the existing "install base", which requirements do we want for a (domain-specific) language, etc. So @pjljvandelaar if you feel this needs to be discussed with @tretmans we could use this issue for this purpose.

All in all, if we decide that we shouldn't develop the `To

[2018-03-30 13:20] pjljvandelaar commented on #628
Let sequential this using semicolon can be written als nested lets. And you know my opinion in expressing yourself in one way only.
Parallel/simultaneous let is useful when one want to change and use values.
For example,
Let list = cstr(n,list), n = n+1 in ...

[2018-03-30 13:25] pjljvandelaar commented on #630
I at least have learned that we should better document our architectural decisions. I keep my doubts since I can't revisit the decision.

[2018-03-30 13:37] capitanbatata commented on #628
Did you mean let parallel?

Could you give a complete (minimal) model where this is useful? Or do we have any existing models? I thought that in `TorXakis` variables were not mutable, so there isn't anything like changing values.

[2018-03-30 13:38] capitanbatata commented on #630
Well, github can help us in keeping track of the architectural decisions ;)

[2018-03-31 09:55] pjljvandelaar commented on #331
For ADTs with a single constructor the solution seems straightforward.
However for ADTs with multiple constructors it is less simple, especially when you also want to support #351.
Also for recursive ADTs there are some challenges.

[2018-04-04 06:16] pjljvandelaar commented on #589
- [x] Add StautDef to procdef translation:
  * Make a decision: do we use ANY or Maybe X?
  * Make a decision: do we require the initial state to be equal to 0 / zero?
   - [x] 1. Create Procdef with
       1. Same channel declarations
       2. Parameters:
          1. Starting with same parameters as StautDef
          2. add counter/StatId as parameter to procdef (type Int).
          3. Add gl

[2018-04-04 06:40] pjljvandelaar commented on #620
Afterwards:
- [x] Move to latest LTS (unless there are known and relevant issues of the ghc version and/or used libraries) --> #649
- [x] Move to latest Z3 version --> #643
- [x] Move to latest CVC4 version (Do we still need development version?) --> #643
- [ ] Add Yices (ONLY when issue is solved: https://github.com/SRI-CSL/yices2/issues/84) --> #265
- [x] Make an issue for next release with this

[2018-04-04 06:57] pjljvandelaar commented on #589
Alternative: add procdef that call stautdef with initial values. Use procInst to this procdef at all places where stautdef is instantiated.

[2018-04-04 11:28] capitanbatata commented on #617
After the discussion of today with @pjljvandelaar and @keremispirli we'll be implementing the connections in Haskell. Later on we can decide on what is the best way to connect `TorXakis` with the SUT.

[2018-04-04 11:28] #617 closed

[2018-04-04 11:48] capitanbatata opened #633 "Add support for compiling all the `ValExpr`'s."
- [x] `IF THEN ELSE`.
- [x] `ValExpr1 operator ValExpr2`
- [x] `smallid "(" ValExprs ")"`
- [x] `capid "(" ValExprs  ")"`
- [x] `operator ValExpr2`
- [x] `Constant`
- [x] `"(" ValExpr1 ")"`
- [x] `ANY`

[2018-04-04 12:20] pjljvandelaar opened #634 "Introduce SUT Handler for toWorld and fromWorld communication"
We propose to add a `SUT Handler` between `Torxakis` and the `SUT`.

The Interface between `TorXakis` and the `SUT Handler` is as follows:
Messages from `TorXakis` to `SUT Handler` are
* Start SUT
* Stop SUT
* Input action(s) to SUT

Messages from `SUT Handler` to `TorXakis` are
* SUT Started
* SUT Stopped
* Input action(s) to SUT taken/delivered
* Input action(s) to SUT failed - race condition :

[2018-04-04 12:40] pjljvandelaar commented on #634
To be even more precise:
`TorXakis-lib` or `TxsCore` should communicated using an interface based on function calls.
`TorXakis` contains a small component that starts the `SUT Handler` and translates the function calls to I/O and vice versa.

[2018-04-05 07:48] #576 closed

[2018-04-05 09:33] #618 closed

[2018-04-05 09:36] keremispirli opened #637 "Create and upload v0.6.0 bottles for homebrew"
Contact @harcokuppens for bottles.

[2018-04-05 09:59] capitanbatata commented on #517
I would say:

- Let's define standard precedences for predefined arithmetic operators (`+`, `-`, `*`, `/`, etc) and logical operators (`/\`, `\/`).
- Left associativity (or right, depending on what our users need) for all the other operators, including user defined ones.

[2018-04-05 10:03] pjljvandelaar commented on #517
Please come with a proposal how users should express the associativity of their operators.
Should it be like in Haskell?

[2018-04-06 07:07] pjljvandelaar commented on #620
Make release more explicit: what has to be done
* Make windows installer
* Make bottles for homebrew
* ...

Include this information in issue for next release.

[2018-04-06 08:07] pjljvandelaar commented on #578
What remains of this issue is a duplicate of #602
Do think it is useful to have two duplicates: so I close one (this one to be precise)

[2018-04-06 08:07] #578 closed

[2018-04-06 08:07] pjljvandelaar commented on #602
See #578 which is a duplicate for similar info.

[2018-04-07 07:32] pjljvandelaar commented on #602
And again
https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/313

[2018-04-07 12:54] pjljvandelaar commented on #561
I think this issue is solved
@kerem if you agree please close it!

[2018-04-09 12:41] capitanbatata opened #638 "TorXakis fails to parse `LET` expression inside a binary operator"
The following code:

[code]

won't compile in `TorXakis`:

[code]

Adding parenthesis solves the problem.

[code]

[2018-04-09 15:25] pjljvandelaar commented on #222
I want to use `torxakis` both a simulator and tester.
However, since `torxakis` uses sockets I have to include an asynchronous channel in the sut model
This works perfectly as the channel has no value or an unique value, see e.g.
[code]
However, when the output channel has a value it is no longer allowed.
See `Event` in the example.

[2018-04-10 08:01] capitanbatata opened #640 "Add support for compiling all the behavior expressions"
The following language constructs have to be supported by `txs-compiler`:

- [x] Process instantiation
- [x] Parallel operators
- [x] Enable
- [x] Disable
- [x] Interrupt
- [x] Choice
- [x] Guard
- [x] Hide
- [x] Action prefix
- [x] Let expressions
- [x] Top level model definitions
- [x] Top level process definitions
- [x] Stop

[2018-04-10 08:21] keremispirli opened #641 "Performance issues with v0.6.0"
I benchmarked v0.6.0 vs v0.5.0 twice; both results showed significant performance degradation in v0.6.0.

We should benchmark past commits to identify how this is introduced and solve it. Looking into significant pull requests can be a good starting point.

[2018-04-10 08:30] keremispirli commented on #619
The benchmark results show performance degradation.

[Benchmarks_0.5.0-0.6.0_2.xlsx](https://github.com/TorXakis/TorXakis/files/1893735/Benchmarks_0.5.0-0.6.0_2.xlsx)

We'll investigate it in #641

[2018-04-10 08:30] #619 closed

[2018-04-10 08:36] keremispirli opened #642 "Update to latest LTS"
v0.6.0 is out.

 - [ ] Update to latest LTS for v0.7.0 so we have 2+ months to test.
 - [ ] Benchmark against previous version to see if there's any impact.

[2018-04-10 08:38] keremispirli opened #643 "Update to latest Z3 and CVC4"
v0.6.0 is out; update to latest Z3 and CVC4 for v0.7.0 so we have 2+ months to test.

[2018-04-10 08:53] capitanbatata opened #644 "TorXakis crashes when ANY is present in an expression"
The following function:

[code]

Will cause `TorXakis` to crash:

[code]

What is the expected behavior here? Should the function above compile at all?

[2018-04-10 09:03] capitanbatata commented on #633
I added a ANY constant it the compiler. But I have to wait till I know how ANY is to be used inside functions, or whether it should be allowed at all. See #644 .

[2018-04-10 09:03] #633 closed

[2018-04-10 15:41] pjljvandelaar commented on #644
`ANY` may never be evaluated.
`ANY` is the `Nothing` of a `Maybe Value` where we assume a value will be present when needed.
It is to allow for uninitialized variables in StautDefs and ProcDefs generated by Carsten.

[2018-04-10 18:14] pjljvandelaar commented on #620
@keremispirli you released 0.6.0
Shouldn't this issue be closed?

[2018-04-10 18:15] pjljvandelaar commented on #644
I propose to close this issue
@damian do you agree?

[2018-04-10 18:44] capitanbatata commented on #644
Well, I wouldn't expect a Haskell program to crash for using `Nothing` ;)

But shouldn't the compiler restrict the uses of ANY then?

Well, problem is that the current compiler allows `ANY`'s anywhere (no pun intended), and then `TorXakis` just crashes. I'd say that to close this issue we have to either be precise about the places in which any is allowed, or be robust when these errors occur (whic

[2018-04-11 06:41] pjljvandelaar commented on #644
I think the rule is
ANY is only allowed in procInst as an argument.

[2018-04-11 06:45] capitanbatata commented on #644
Then shouldn't the compiler forbid other uses of `ANY`? In that case we should implement that (either in the new compiler or in the old...)

[2018-04-11 06:57] pjljvandelaar commented on #644
We might even forbid `ANY` in the compiler...
`ANY` is only used in internal model 2 model transformations.
The code generated by Carsten is than no longer parsable, yet that is not the intention anyway:
the translation to LPE is fast enough to do it every time when a file is parsed.

[2018-04-11 06:58] capitanbatata commented on #644
Sounds like music to my ears. Now the question is why did I spend time translating ANY to the new compiler :/ ...

[2018-04-11 07:12] pjljvandelaar commented on #644
The root cause is two fold.
1. We don't support Generics/Templates (see #410) yet.
If #410 was supported, we would never have opted for `ANY`.
We would have chosen the `Maybe T` with `Nothing` and `Just x::T` as two constructors.
2. We don't document enough & we don't restrict enough. If we would have you might have read that it is not allowed by the compiler or only in procInst.

[2018-04-11 07:16] pjljvandelaar commented on #549
Should `ANY` be allowed to be parsed anyway?
See #644 ...

`ANY` was ONLY designed for uninitialized values that where needed in the LPE translation.
So `ANY` was only allowed in procInst calls.

[2018-04-11 07:36] pjljvandelaar commented on #641
Since the performance increase occurs in all use cases the root cause must be something general.
I assume the indirection / smart constructors that were added in `BExpr`.
If this is indeed the case, we should also inline the smart constructors of `ValExpr`.

[2018-04-11 07:37] pjljvandelaar commented on #641
Btw. I propose not release an 0.6.1 version just for performance, we will have a new version in 3 months anyway.

[2018-04-11 08:28] keremispirli commented on #641
Benchmarked commit a55243b3 (picked arbitrarily, being close to middle in the history), no performance degradation.
[Benchmarks_0.5.0-z3cvc4.xlsx](https://github.com/TorXakis/TorXakis/files/1897888/Benchmarks_0.5.0-z3cvc4.xlsx)

@pjljvandelaar In that case I'll benchmark following commits this evening:
d052bece | Issue/589 (#604) -> (smart constructors for BExpr)
c05f3fc7 | Parametrized Sut/Sim de

[2018-04-11 08:34] pjljvandelaar commented on #331
Note: since
`v.y := 13; v.x := 13` can be interpreted as
first assign to `v` the value made by constructor `B` and the `y` field has value 13 (other fields left unspecified)
second assign to `v` the value made by constructor `A` and the `x` field has value 13.

Maybe only an error can be considered when it is written as
`v { y := 13, x:= 13 }`

Furthermore, I don't know if we want to support chang

[2018-04-11 08:39] keremispirli commented on #625
Factoring out common functionality is done during implementation of other (load, test, etc.) commands.

This is finished in 48133ad

[2018-04-11 09:26] pjljvandelaar commented on #641
Is this the solution?
[code]

[2018-04-11 12:43] pjljvandelaar commented on #589
Implemented using the following choices: ANY and initial state can be any number.

[2018-04-11 12:47] pjljvandelaar commented on #589
Possible improvement:
When `cond` is  `True`, don't generated `IF THEN ELSE FI` in
`alternative (Trans from' (ActOffer offers' cond) update' to')`
in StautDef.hs

This prevent code like observed with AdderStAut.txs:
[code]

alternative: solve it in the smart constructor of `ITE`

[2018-04-11 12:59] pjljvandelaar commented on #589
With
`{-# LANGUAGE ViewPatterns #-}`
The following works:
[code]

Any suggestion to reduce the code duplication?

[2018-04-11 17:10] pjljvandelaar commented on #641
Also the move to another compiler/LTS can cause such a general increase.
When was the haskell performance bug related to newtype https://ghc.haskell.org/trac/ghc/ticket/14936 introduced?
And what about https://ghc.haskell.org/trac/ghc/ticket/14964?

[2018-04-12 08:03] keremispirli commented on #641
Both of these commits have the performance degradation:
d052bece | Issue/589 (#604) -> (smart constructors for BExpr) => [Benchmarks_0.5.0-BExp_issue589.xlsx](https://github.com/TorXakis/TorXakis/files/1901897/Benchmarks_0.5.0-BExp_issue589.xlsx)
c05f3fc7 | Parametrized Sut/Sim delta times (#600) => [Benchmarks_0.5.0-preBExp.xlsx](https://github.com/TorXakis/TorXakis/files/1901900/Benchmarks_0.5.0

[2018-04-12 08:58] pjljvandelaar opened #648 "Scoping in StautDef"
This issue is mainly intended for documentation purposes.

The following example is nicely parsed:
[code]

Now we can make some changes to the procdef to use the scoping of torxakis:
[code]
This also works fine.

However
[code]
leads to
[code]

Is this the desired behaviour?

[2018-04-12 16:47] pjljvandelaar commented on #602
And again https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/321

[2018-04-12 16:48] pjljvandelaar commented on #609
Closed by #646

[2018-04-12 16:48] #609 closed

[2018-04-13 09:24] keremispirli commented on #641
After yesterday's benchmarks, I believe the culprit is found:
c05f3fc7 | Parametrized Sut/Sim delta times (#600)
has low performance, while the previous commit:
5c442d60 | Issue/582 remove sort error (#597)
doesn't have the problem.

Checking the changes in c05f3fc7, I see 2 candidates:
1) Sim_deltaTime is changed from 200 to 2000
2) A delay of 5 seconds is added to sqatt, in order to write result

[2018-04-13 13:57] keremispirli commented on #615
ToWorld and FromWorld are in as of e813b5ba (#610). We still need to add support for defining HTTP connections and JSON conversions in CNECTDEF.

[2018-04-13 14:01] keremispirli commented on #613
With the commit e813b5ba (#610) we can now use TorXakis to test a TorXakis that steps an Echo model:

[code]
What remains to be done:
 - [ ] Add support for HTTP to CNECTDEFS #615
 - [ ] Generalize the flow by replacing hardcoded function names and parameters with the ones to be extracted from the ModelDef

[2018-04-13 14:30] pjljvandelaar commented on #613
@keremispirli Please give me a demo!
Did you know write a value parser from JSON to internal TorXakis?

[2018-04-13 14:33] pjljvandelaar commented on #613
BTW . Why is there a `\n"` in all Actions (see e.g.
[code]
)?

[2018-04-13 14:37] pjljvandelaar commented on #641
@keremispirli is the 30 to 40% increase equal to a 5 second increase in all test cases?
In other words are we fouled by the representation?

[2018-04-13 14:49] keremispirli commented on #613
@pjljvandelaar
I didn't write a parser. It needs to be written in #615
I added `ToJSON` and `FromJSON` to the `Msg` type in EnvData so it could be serialized into JSON and returned from the SUT TorXakis server. I receive this in tester TorXakis, deserialize it back to `Msg`, extract `Action`, wrap it in a "ResponseAction" `Action` and write it to "fromWorld" TChan. This is read by `getFromWorld` f

[2018-04-13 14:51] keremispirli commented on #613
@pjljvandelaar I can demo this on Monday. And/or you can checkout `feat/txs-interface` branch and run `stack test txs-lib`

[2018-04-13 15:12] keremispirli commented on #641
Good point. I checked the numbers and the delay looks to be around 1s in most of the cases, 2.697s in `Hiding/match Int` and almost no change in `Hiding/hide second of sync second alternate`. So it doesn't look like to be because of those 5 seconds.

I'll run benchmarks now to see each one's impact.

[2018-04-15 10:09] pjljvandelaar commented on #602
Etc. https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/324

[2018-04-16 09:34] keremispirli commented on #643
Z3 4.7.0 is still at nightlies.
CVC4 doesn't have a new stable release; win32 latest nightly is March 8th while linux latest nightly is April 2nd, and linux nightly for March 8th is not available.

We skip both.

[2018-04-16 09:34] #643 closed

[2018-04-16 09:35] keremispirli commented on #637
Harco will return next week with bottles.

[2018-04-16 10:01] dnadales commented on #628
After discussing this with @tretmans we decided it is handier to keep both variants.

[2018-04-16 10:01] #628 closed

[2018-04-16 10:07] dnadales commented on #517
After discussing with @tretmans, we decided on giving predefined arithmetic operators and boolean operators the standard precedence these operators have in most programming language. Note that this precedence will be determined at parsing time, which that if an user overrides an operator like `+`, it will have the same precedence as the predefined operator `+`.

[2018-04-16 10:12] dnadales commented on #644
Let's implement this restriction in the new compiler (after discussing with @tretmans and @pjljvandelaar),

[2018-04-16 12:45] #561 closed

[2018-04-16 12:47] keremispirli opened #651 "Moving Arms: Tester decides Quiescence before Simulator responds"
In #650, three Moving Arms cases failed due to tester deciding Quiescence before Simulator can respond:

  1) Examples.All, Moving Arms, Single Axis Purpose Test
  2) Examples.All, Moving Arms, Restricted Axis Purpose Test (input eagerness 0)
  3) Examples.All, Moving Arms, Restricted Axis Purpose Test (input eagerness 3)

See:
https://semaphoreci.com/capitanbatata/torxakis/branches/fix-641-remove

[2018-04-16 15:43] keremispirli opened #652 "Release 0.7.0"
- [x] Create and upload v0.7.0 installer for Windows.
     - [x] Update CHANGELOG.md
     - [x] Follow instructions in [Windows Installer's README.md](https://github.com/TorXakis/SourceWindowsInstaller/blob/develop/README.md)
 - [x] Compare benchmarks of 0.7.0 to 0.5.0 (the benchmarks of 0.6.0 are tainted with #641 )
 - [x] Contact Harco Kuppens for macOS installer
 - [x] Update to latest LTS

[2018-04-16 15:45] keremispirli commented on #651
And they consistently fail. This needs to be investigated.

[2018-04-16 15:50] keremispirli opened #653 "Add Yices"
When this issue is solved: https://github.com/SRI-CSL/yices2/issues/84

[2018-04-16 19:42] #642 closed

[2018-04-16 19:43] pjljvandelaar commented on #653
Duplicate of #265

[2018-04-16 19:44] #653 closed, assigned to nobody

[2018-04-17 12:11] pjljvandelaar opened #655 "nightly build fails: disk full"
Tonight's build failed:
[code]

see https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/327 for more details

[2018-04-17 15:37] keremispirli commented on #642
Looks like it's slightly faster with LTS 11.5:
[Benchmarks_dev0c786fac-lts11.5.xlsx](https://github.com/TorXakis/TorXakis/files/1920532/Benchmarks_dev0c786fac-lts11.5.xlsx)

[2018-04-17 17:58] pjljvandelaar commented on #620
Waiting on MacOS version...

[2018-04-18 12:38] pjljvandelaar opened #656 "use hlint locally"
As I developer I often run into hlint issue when code climate check the code.
I would like that the unit tests already run hlint for me.

See https://github.com/rubik/argon/blob/master/test/HLint.hs for an example to solve it.

[2018-04-18 13:16] pjljvandelaar commented on #655
And again:
[code]
See also
https://semaphoreci.com/capitanbatata/torxakis/branches/issue-589_choice/builds/3

[2018-04-18 15:20] keremispirli commented on #655
`.stack-work` folder grows with every lts upgrade. I removed it to clear some space; let's see if it helps.

[2018-04-19 06:41] pjljvandelaar commented on #655
Problem doesn't seem solved:
[code]
See https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/329

[2018-04-19 08:34] keremispirli commented on #655
looks like `.stack` folder also has a lot of old stuff:

`Reading package info from "/home/runner/TorXakis/.semaphore-cache/.stack/snapshots/x86_64-linux/lts-10.0/8.2.2/pkgdb/Only-0.1-K3HSyq2koL8JtFXn0ZkrT6.conf" ... done.`

gonna remove that, too.

[2018-04-19 12:21] keremispirli commented on #655
Looks like the caches grew big indeed:
[code]

But despite many successful builds like this, we still get same cache when I start a new build.  I wrote to SemaphoreCI about this; waiting response from their support.

[2018-04-19 12:37] pjljvandelaar opened #657 "September 2018 - move to new java version"
Oracle stops supporting Java 8.
We have to move to java 11.
For more details and time line see http://www.oracle.com/technetwork/java/eol-135779.html

[2018-04-20 06:47] pjljvandelaar opened #658 "nightly build fails: cvc4 not found"
SemaphoreCI reports
[code]
See https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/331

related to #655 too much removed?

[2018-04-20 06:50] pjljvandelaar commented on #652
extended list based on experience of #655

[2018-04-20 06:50] dnadales commented on #658
Cache deletion shouldn't cause the builds to fail. @keremispirli could you change the `rm` command to use the `-f` flag so that the exit code will be zero?

[2018-04-20 07:43] dnadales opened #659 "Declaring a process without channels requires a space between the square brackets"
Parsing the following process will fail:

[code]

with the following error:

[code]

Adding a space between the square brackets solves the problem. This is inconsistent wrt. data parameters, and confusing.

[2018-04-20 07:47] dnadales opened #660 "Should TorXakis differentiate processes definitions by their exit sorts?"
The following example:

[code]

will fail to compile:

[code]

Should `TorXakis` be able to resolve the right processes in this case?

[2018-04-20 08:05] pjljvandelaar commented on #660
Currently, TorXakis does not differentiate processes definitions by their exit sorts.
I think we decided this for simplicity reasons.
If you think you can easily add this differentiation in the new compiler I have no objections.

[2018-04-20 08:45] keremispirli commented on #655
If you're an admin in the project, you can see an "Expire Dependency Cache" button which clears the cache.

It works.

[2018-04-20 08:45] #655 closed, assigned to nobody

[2018-04-20 08:58] pjljvandelaar opened #662 "Comment wrong about BNode?"
In BTree.hs is written
[code]
The remark `env must be: (WEnv,IVEnv)` is immediately violated in `CNode`.
I assume the remark is wrong.
Am I right?

[2018-04-20 09:19] #658 closed, assigned to keremispirli

[2018-04-20 12:42] dnadales opened #663 "ValExprImpls should propagate error instead of using Debug.Trace"
The `ValExprImpls` module uses `Debug.Trace`. We should not use this in production code at all! Haskell is a lazy language and mixing IO in pure functions affects the performance negatively. That's why people discourage the use of it.

I see two solutions to it: add a debug flag to TorXakis, or have the functions at `ValExprImpl` to return an `Either` or other monad that can be easily composed.

[2018-04-20 18:19] pjljvandelaar commented on #663
Be my guest to rewrite using Either

[2018-04-20 18:21] pjljvandelaar commented on #663
Note it only occurs when people use a wrong model that access fields without knowing which constructor made the ADT.

[2018-04-20 18:26] dnadales commented on #663
Still. `Debug.Trace` [should not be used at all in production code](https://youtu.be/DebDaiYev2M?t=40m0s).

[2018-04-20 18:29] pjljvandelaar commented on #663
One could also use error and terminate TorXakis immediately

[2018-04-20 18:30] dnadales commented on #663
That could be the most immediate solution. I wonder if it will have any impact in performance.

I'd expect this to be fixed when we start using smart constructors for value expressions, right?

[2018-04-20 18:35] pjljvandelaar commented on #663
We are already using smart constructors for value expressions.
Subst should yield an Either. This complicates subst a lot.
Yet with partitionEither it is not that complicated.
Yet I don't know how the error condition should be handle at the higher level . ..

[2018-04-23 06:14] pjljvandelaar commented on #418
See    http://smtlib.cs.uiowa.edu/theories-UnicodeStrings.shtml for the specification of an SMT-LIB 2 theory of strings and regular expressions.

[2018-04-23 07:09] pjljvandelaar commented on #663
Solution in two steps:
- [x] Use error instead of Debug.Trace (implemented in pull request #664)
- [ ] Introduce `Either Text (ValExpr v)` as return argument (i.s.o. throwing error directly)  for
   - [ ] CstrAccess   -- access field of X while data is not made by constructor X
   - [ ] CstrProduct  -- divide by zero due to negative power e.g.  0 ^-1
   - [ ] CstrDivide    -- divide by zero
   - [

[2018-04-23 12:09] #641 closed

[2018-04-23 12:29] keremispirli commented on #601
This issue seems to be obsolete after #650 @capitanbatata ?

[2018-04-23 15:43] dnadales opened #665 "SYNC keyword is optional in MODELDEF's whereas `CHAN OUT` is not"
The current `TorXakis` parser won't accept an empty `SYNC` list, but it does accept an empty `CHAN OUT`. Shouldn't we choose one form for the sake of consistency?

[2018-04-23 15:45] dnadales commented on #601
Yes, indeed.

[2018-04-23 15:45] #601 closed

[2018-04-24 06:43] pjljvandelaar commented on #665
First of all, `SYNC` is an experimental keyword (https://github.com/TorXakis/TorXakis/issues/490).
`SYNC` is there to enable for example the synchronous `shift` and `s` at the model level of torxakis.

Note: I prefer the alternative - only inputs and outputs can not occur synchrounously at top level, and one can restrict the behavior to single channels if one wants at top level e.g. by synchronizi

[2018-04-24 07:50] dnadales commented on #490
Do I have to support the `SYNC` keyword then in the new compiler, or is it better to put it on hold if nobody is using it?

[2018-04-24 10:58] dnadales opened #666 "A behavior expression with an undefined variable causes TorXakis to crash"
The following process:

[code]
which contains an undefined variable `bb` will cause `TorXakis` to crash:

[code]

furthermore, the error message is misleading, and it does not even mention the offending symbol (`bb`).

[2018-04-24 12:45] pjljvandelaar commented on #490
I am in favor of
* removing the SYNC keyword.
* Have synchronous events at the top level:  TorXakis test synchronously and synchronous system (as e.g. made by [Handshake Solutions](https://www.design-reuse.com/news/13191/philips-handshake-solutions-symbiotic-development-network-clockless-ic-technology.html)) can have multiple synchronously input and output actions.
* Use the model to restrict the

[2018-04-24 14:11] pjljvandelaar commented on #666
Not a crash, just a bad error message in my opinion.

[2018-04-24 14:12] dnadales commented on #666
Nope. It actually crashes.

[2018-04-24 14:14] pjljvandelaar commented on #666
Ok it crashes before Argument 1 is described....

[2018-04-25 06:30] pjljvandelaar commented on #487
The internal canonical representation of Set is a distinctive ascending list.
Since all usages of `choice` used a list instead of a Set, we choose to keep using list (yet with an additional constraint: distinctive ascending).

[2018-04-25 06:33] pjljvandelaar commented on #487
We could have globally replaced `choice`by `( choice . Set.fromList )`.
This would also have prevented the issue we experience with the fact that `map f` does not preserve our additional constraint.
To my surprise (I always though automatically derived ordering in Haskell was first based on structure and than on value), however map reset on the distinctive ascending list did not result in an disti

[2018-04-25 06:34] pjljvandelaar commented on #487
I close this issue, and treat it as a duplicate of part of #589.

[2018-04-25 06:35] #487 closed

[2018-04-25 12:10] #637 closed

[2018-04-25 12:10] #620 closed

[2018-04-25 12:49] pjljvandelaar opened #668 "Canonical representation: How to represent behaviour internally effective and efficient?"
# Objective

We would like to have a canonical representation of the behaviour as specified by the user.
This canonical representation must not only help us in improving the performance of TorXakis, but also to simplify maintenance (less code is needed) and to enable easier analysis (e.g. for coverage and translation).

# Possible Alternatives

* [State Automaton](https://github.com/TorXakis/TorXa

[2018-04-25 13:06] pjljvandelaar commented on #668
related to #589

[2018-04-26 08:28] pjljvandelaar commented on #668
@CarstenRuetz  I assume your [LPE](https://github.com/TorXakis/TorXakis/issues/128) transformation are close to this _ideal_ proposal...
I would like to understand the reasons why you differentiate from this proposal.

[2018-04-26 09:00] pjljvandelaar commented on #589
StAut not yet removed to keep supporting Petra van den Bos and her research to cover all states of a State Automaton.

[2018-04-26 09:04] pjljvandelaar commented on #488
Closed since duplicate of subitem of #589

[2018-04-26 09:04] #488 closed

[2018-04-26 10:25] dnadales opened #670 "Semantics of HIDE and exit sorts"
The exit sorts of a `HIDE` expression are the same as the exit sorts of the subexpression:

[code]

Shouldn't the formal channels be hidden from the exit sorts?

[2018-04-26 10:51] pjljvandelaar commented on #670
Exit Sorts are the type of the `arguments` over the EXIT channel.
The exit sorts of a hide are indeed equal to the exit sort of the Behaviour Expression in which some channels are hidden.
The exit sorts are unrelated to the hidden channels.

Just to give an example
[code]
will only exit with both "hello" and 2*x+y when z == x, otherwise the process changes in `STOP`

[2018-04-26 11:37] dnadales commented on #670
Clear. Thanks.

[2018-04-26 11:37] #670 closed, assigned to pjljvandelaar, tretmans

[2018-04-26 12:39] dnadales commented on #640
All behavior expressions are supported now, including tests for them.

[2018-04-26 12:39] #640 closed

[2018-04-26 12:42] dnadales opened #671 "Test the `PROCDEF` `MODELDEF` support of the new compiler with all the Examples in the `examps` folder."
- [x] Adder
- [x] Ark
- [x] ControlLoop
- [x] CustomersOrders
- [x] Echo
- [x] Fibonacci
- [x] LuckyPeople
- [x] MovingArms
- [x] Point
- [x] Queue
- [x] ReadWriteConflict
- [x] StimulusResponse

DispatchProcess not tested for now since it includes a lot of different examples and variants that use constructs not supported yet.

[2018-04-26 13:10] dnadales opened #672 "Add support for mutually recursive processes."
The `MovingArms` and `ReadWriteAdvanced` models contain mutually recursive processes that are not supported by the new compiler.

[2018-04-26 13:11] dnadales commented on #671
To be able to close the remaining to items I need to solve https://github.com/TorXakis/TorXakis/issues/672

[2018-04-26 14:46] pjljvandelaar commented on #408
Coverage should be measured.
For example using [HPC](https://wiki.haskell.org/Haskell_program_coverage)

[2018-04-27 10:20] dnadales commented on #408
Yes, but we lack tool support. See [this issue](https://github.com/TorXakis/TorXakis/issues/92) for information on what was tried already.

[2018-05-01 09:11] pjljvandelaar opened #673 "Nightly build fails: message lost"
https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/349
Shows that simulator sends message (maxz) that is not received by tester.
Are we having a race condition with respect to socket communication?
Can message get lost?

[2018-05-01 09:37] dnadales commented on #673
We should run this locally, since I think the example is failing consistently.

[2018-05-01 09:52] pjljvandelaar commented on #673
https://semaphoreci.com/capitanbatata/torxakis/branches/develop shows not always, but it happened before.

[2018-05-02 19:26] dnadales commented on #672
Closed in https://github.com/TorXakis/TorXakis/commit/276b802ed1b4026d6e3a199804433ea8c1f12067

[2018-05-02 19:26] #672 closed, assigned to nobody

[2018-05-02 19:26] dnadales commented on #671
Closed by https://github.com/TorXakis/TorXakis/issues/672.

[2018-05-02 19:26] #671 closed, assigned to nobody

[2018-05-04 09:24] dnadales opened #674 "Put `TorXakis` modules under the `TorXakis` namespace"
All modules in the `develop` branch have a flat name hierarchy (think of `TxsCore`, `Id`, etc.) We should use the `TorXakis` namespace.

If parts of `TorXakis` are intended for future use as separate packages, then they should have the `TorXakis` namespace, to prevent conflict with other packages in Hackage, and follow standard practices in the community.

The `feat/txs-interface` branch shows how

[2018-05-04 11:37] pjljvandelaar commented on #674
What about ValExpr?
Should be independent  of TorXakis...

[2018-05-04 11:41] dnadales commented on #674
But right now it isn't! If that is the case, then I'm fine with leaving it alone.

[2018-05-05 14:07] pjljvandelaar commented on #673
MinY lost...
https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/353

[2018-05-06 18:33] pjljvandelaar commented on #673
https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/354
Again the same fault.
However also another issue without any evidence 😕 @keremispirli is only the last issue logged?

[2018-05-07 07:06] pjljvandelaar commented on #132
The real advantage is in the architecture: you don't need value expressions to parse values!

[2018-05-07 08:09] pjljvandelaar commented on #132
Solve in two steps
- [x] Make a generic string parser that parses values (similar as a generic XML Parser - only syntax is checked) - see pull request #675
- [ ] Translate a generic value to Value (thus check type and constructor names - does the constructor exists?) Similar to constFromXml (from XmlFormat.hs).

[2018-05-07 11:07] pjljvandelaar commented on #673
@capitanbatata and I decided to add a simplified version of moving arms (moving arm: one dimensional movement only) to make analysis of the issue easier.
See pull request #676.

[2018-05-07 19:57] pjljvandelaar commented on #673
Note when moving arm never fails, the root cause might be in the test purpose which is used to limited the changes to a single axis at the time.

[2018-05-08 06:40] pjljvandelaar opened #679 "nightly build fails: parameter setting"
Tonight the nightly build failed
[code]
See https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/359

@keremispirli we have seen this before: it does not seem to be a glitch ;-(

[2018-05-08 06:45] pjljvandelaar opened #680 "nightly build fails: sequence with a 10 integer channel"
The development build failed:
[code]
See https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/358

Why is the development/nightly build failing so often on tests that were not affected by the change and ran hundreds of times correct in the past?

[2018-05-08 11:13] dnadales opened #681 "Shouldn't we remove all linux commands from semaphore CI configuration?"
And instead put them in scripts. Otherwise:
  - Things are defined at two places.
  - Semaphore CI is not versioned

For instance the $PATH variable could be set in a script

![screenshot from 2018-05-08 13-11-13](https://user-images.githubusercontent.com/175315/39754173-9712040e-52c1-11e8-8678-094018a1879f.png)

Does it make sense to put the exports as part of `setup.sh`?

[2018-05-08 12:59] CarstenRuetz opened #682 "bug in eqProcDefs (LPEfunc.hs)"
Comparison operator for two ProcDefs (maps) gives wrong result:

[code]

**Expected result**
False

**Observed result**
True

**Reason**
Implementation zips the lists of the two maps. In case of unequal length of those lists, the shortest one is cutting the other list short. Hence, the comparison yields an unintended result.

**Original implementation**
[code]

**Suggested fix**
Compare the length

[2018-05-08 13:00] CarstenRuetz commented on #682
I think it's used in the LPE part only, anyway?!

[2018-05-08 13:10] dnadales commented on #682
The fix makes sense. I would change `compared && length l == length r` to `length l == length r && compared` so that the function can exit earlier when the lengths differ.

Is there any other kind of input expected from me?

[2018-05-08 13:24] CarstenRuetz commented on #682
sounds good. no further input needed.

[2018-05-08 13:27] #682 closed, assigned to dnadales, CarstenRuetz, pjljvandelaar

[2018-05-08 14:00] pjljvandelaar commented on #682
I assume when your LPE branch is merged with develop, this bug is also solved in develop.

Note: for performance reasons it might be better to make your own zip & compare function instead of using length and compare where
[code]

[2018-05-08 15:13] dnadales commented on #673
Today when testing the linux installer I saw this:

[code]

I don't know if this is related to this problem...

[2018-05-08 18:09] pjljvandelaar commented on #673
Depends on what you saw on the simulator: was MaxX send and lost?

[2018-05-09 06:13] dnadales opened #685 "The copyright checker should check support bash files"
The current copyright checker assumes that bash scripts start with a copyright notice. However bash scripts are expected to start with:

[code]

Also it'd be nice if the check of copyright notices will be done during our regular tests (which are run with `stack test`).

[2018-05-10 06:36] pjljvandelaar commented on #673
And again https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/367
Yet not in moving arm.

[2018-05-10 07:12] pjljvandelaar commented on #673
@keremispirli Am I right to state we are missing #model in moving arm name?

[2018-05-12 16:53] dnadales opened #690 "Implement these commands in the new torxakis CLI"
See `TxsHelp.hs`

- [x] Discuss with Jan and Pierre priorities: Which ones are absolutely
  necessary, which ones are nice to have, which ones are obsolete.
- [x] stepper \<mod\>
- [x] step \<action\>
- [x] quit, q
- [x] exit, x
- [x] help, h, ?
- [x] info, i
- [x] param [\<parameter\>]
- [x] param \<parameter\> \<value\>
- [x] echo \<text\>
- [x] # \<text\>
- [x] seed \<n\>
- [x] delay \<n\>
- [x

[2018-05-13 06:52] pjljvandelaar commented on #679
And again: https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/370

@keremispirli Is the wrong value a fixed value or randomly generated one?

[2018-05-14 08:28] pjljvandelaar opened #691 "GHC compatibility"
As discussed on [gitter](https://gitter.im/TorXakis/Lobby)
there are more warnings (flags) than included in `-Wall`.
See also [GHC warning webpage](https://downloads.haskell.org/~ghc/7.8.1/docs/html/users_guide/options-sanity.html)
See also this [reddit issue](https://www.reddit.com/r/haskell/comments/8dtnax/code_quality_tools/)
One such warning (flag) is `-Wcompat`.

Warnings to address:

- [ ] U

[2018-05-14 08:31] pjljvandelaar commented on #691
@CarstenRuetz Can you look at the part of this issue within the LPE package?

[2018-05-14 08:54] pjljvandelaar commented on #691
Also our tests `stack test --ghc-options="-Wwarn -Wcompat"` yields some issues:
[code]
[code]

[2018-05-14 09:29] pjljvandelaar opened #692 "GHC incomplete-record-updates"
As discussed on [gitter](https://gitter.im/TorXakis/Lobby)
there are more warnings (flags) than included in `-Wall`.
See also this [reddit issue](https://www.reddit.com/r/haskell/comments/8dtnax/code_quality_tools/)
One such warning (flag) is `-Wincomplete-record-updates`.

This warning (stack build --ghc-options="-Wwarn -Wincomplete-record-updates") results in the following issues that should be

[2018-05-14 10:07] pjljvandelaar opened #694 "GHC incomplete-uni-patterns"
As discussed on [gitter](https://gitter.im/TorXakis/Lobby)
there are more warnings (flags) than included in `-Wall`.
See also [GHC webpage](https://downloads.haskell.org/~ghc/8.2.2/docs/html/users_guide/using-warnings.html)
See also this [reddit issue](https://www.reddit.com/r/haskell/comments/8dtnax/code_quality_tools/)
One such warning (flag) is `-Wincomplete-uni-patterns`.

- [ ] behave (test\T

[2018-05-14 10:13] keremispirli commented on #681
The reason for writing `export`s as separate commands was that they don't work when they are in a script. The exported variables were only available within the script, not for following scripts.

If that behaviour is changed, then we should put them back into relevant scripts.

[2018-05-14 10:35] pjljvandelaar opened #695 "GHC redundant constraints"
As discussed on [gitter](https://gitter.im/TorXakis/Lobby)
there are more warnings (flags) than included in `-Wall`.
See also [GHC webpage](https://downloads.haskell.org/~ghc/8.2.2/docs/html/users_guide/using-warnings.html)
See also this [reddit issue](https://www.reddit.com/r/haskell/comments/8dtnax/code_quality_tools/)
One such warning (flag) is `-Wredundant-constraints`.

- [x] behave (src\Subs

[2018-05-14 10:49] pjljvandelaar opened #696 "GHC warnings outside Wall"
According to [GHC](https://downloads.haskell.org/~ghc/8.2.2/docs/html/users_guide/using-warnings.html)
using
`stack test --ghc-options="-Wwarn -Wincomplete-uni-patterns -Wincomplete-record-updates -Wmonomorphism-restriction -Wimplicit-prelude -Wmissing-local-signatures -Wmissing-exported-signatures -Wmissing-import-lists -Wmissing-home-modules -Widentities -Wredundant-constraints"`
one will get al

[2018-05-14 11:44] keremispirli opened #697 "Test the new CLI on Windows"

[2018-05-14 11:46] keremispirli opened #698 "Add tests for the step end-point, using a string action."
In txs-webserver

[2018-05-14 12:57] pjljvandelaar commented on #695
ValExpr solved in #693

[2018-05-14 13:01] pjljvandelaar commented on #695
Behave solved in #699

[2018-05-14 14:57] keremispirli commented on #697
I tested with DOS cmd and PowerShell, both work.
I don't have Cygwin installed so couldn't test with, but it's not required anyway.

[2018-05-14 14:57] #697 closed, assigned to keremispirli

[2018-05-14 15:01] keremispirli opened #700 "Add these warnings to the `txs-cli` `package.yaml`"
[code]

[2018-05-14 15:05] #700 closed, assigned to keremispirli

[2018-05-14 15:15] dnadales commented on #660
After discussing with @tretmans we should aim for keeping the new compiler as simple as possible, and this kind of overloading is not needed, and might be tricky to implement.

[2018-05-14 15:15] #660 closed, assigned to pjljvandelaar, tretmans

[2018-05-14 15:16] #695 closed, assigned to nobody

[2018-05-14 15:19] pjljvandelaar commented on #662
Remark is wrong: both CNode and INode are fine!

[2018-05-14 15:29] dnadales opened #701 "Incorporate the following flags into our `stack.yaml` (and `stack_linux.yaml`):"
- -Wall
  - -Wcompat
  - -Wincomplete-record-updates
  - -Wincomplete-uni-patterns
  - -Wredundant-constraints

See the `ghc-options:` option in [`stack` manual](https://docs.haskellstack.org/en/stable/yaml_configuration/.

If some of this warnings break the build and the warnings cannot be easily fixed, then disable the warning in the offending file using the GHC pragma.

[2018-05-14 15:49] dnadales commented on #629
@tretmans also agrees on removing `,` for logical and in the new compiler.

[2018-05-14 15:49] #629 closed

[2018-05-14 16:14] dnadales commented on #681
Ok, clear.

[2018-05-14 16:14] #681 closed, assigned to keremispirli

[2018-05-14 16:34] dnadales commented on #662
Was this remark corrected on any branch?

[2018-05-14 17:25] pjljvandelaar commented on #662
No but issue is also not closed

[2018-05-14 17:28] pjljvandelaar commented on #701
I don't mind to include all warnings not in Wall. We have only a few violations and quality improves by not using questionable constructs.

[2018-05-15 06:53] pjljvandelaar commented on #673
Again a message lost in https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/375
However today it is `DownY`.

Tester
[code]

Simulator
[code]

[2018-05-15 10:45] pjljvandelaar commented on #696
see #701 about the incorporation in our build process.

[2018-05-15 12:57] petravandenbos opened #702 "TorXakis out of memory by big stautdef"
TorXakis runs out of memory, before having parsed the complete file.
[stautDefBig.txt](https://github.com/TorXakis/TorXakis/files/2005035/stautDefBig.txt)

[2018-05-15 17:04] #662 closed, assigned to pjljvandelaar

[2018-05-16 07:08] pjljvandelaar opened #705 "Bounds of TorXakis parameters of type Int are NOT checked."
Many parameters of TorXakis have type `Int`. Unlike `Integer`, `Int` is a bounded data type.
However we don't check the bounds of `Int` at [-2^63, 2^63).

[2018-05-16 08:03] keremispirli commented on #673
@pjljvandelaar
The failed build in https://github.com/TorXakis/TorXakis/issues/673#issuecomment-387965968 was still in moving arms.
We have #model moving arms tests that run daily and normal ones that run per commit.

[2018-05-16 08:48] keremispirli commented on #679
@pjljvandelaar Since parameter values are always string, I replace the value with "WrongVal" and test that TorXakis falls back to the default value for it.

[2018-05-16 15:03] pjljvandelaar opened #709 "Consistency AppVeyor and SemaphoreCI"
The checks run at AppVeyor and SemaphoreCI should be identical.
Currently that is not the case.

For example, copyright notice checks are NOT checked at AppVeyor while they are checked at SemaphoreCI.

[2018-05-18 06:48] pjljvandelaar commented on #673
tonight the first `Up` message was already lost ;-(
https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/383

[2018-05-18 12:08] dnadales opened #710 "Expand: Eval failed in expand with example on the Wiki"
Is it ok that the following model fails with an "Expand: Eval failed in expand" error?

[code]

This is the output I get:

[code]

Maybe I wired the model wrong?

[2018-05-18 13:51] pjljvandelaar commented on #710
The value of `start_value ` is `0` due to
[code]
So the transition
[code]
should succeed.
One just assigns the constant value 0 to `sum`.
Just as in the initialization...
[code]

Could you try it with the alternative implementation of stautdef?
[code]

[2018-05-18 13:57] dnadales commented on #710
Yes, that works. What is the difference then?

[2018-05-18 14:32] pjljvandelaar commented on #710
Error in subst
[code]
also transactions should be substituted.....
I am looking back at the change history... but I don't know a good tool for it ;-(

[2018-05-18 14:39] pjljvandelaar commented on #710
Strange: substitution does not happen, even in the first commit...
I assume the example was correct at some point in time ;-)

I will look next week at the old archive to see if this was indeed different long time ago....

[2018-05-18 16:22] dnadales commented on #702
@pjljvandelaar @tretmans I have good news and bad news, the good news is that the new compiler can parse @petravandenbos 's model in about 3 seconds. The bad news is that I only have till July to finish the compiler :stuck_out_tongue_closed_eyes:

The ugly news is that we might hit this problem in the compilation phase.

[2018-05-18 16:26] dnadales commented on #710
So it seems we should include the model above in our tests once this is fixed, shouldn't we?

[2018-05-18 16:31] pjljvandelaar commented on #710
Indeed

[2018-05-18 16:33] pjljvandelaar commented on #702
Good news that the new parser is better....
For the rest: it is as it is.

[2018-05-18 18:03] pjljvandelaar commented on #710
@tretmans Did this example ever work?
Just tried it with old version of TorXakis and got similar error message:
[code]

[2018-05-18 18:05] pjljvandelaar commented on #710
@tretmans should we solve it or drop StautDef and use the new implementation (which works ok)?

[2018-05-19 14:36] pjljvandelaar commented on #611
I assume that this issue also solve the year in the installer. I assume it is just the license...

[2018-05-19 14:39] pjljvandelaar commented on #567
Another opportunity is equality of two sums. E.g. x+y == x + z...
Move one sum to the other side to get 0 == y - z.... And the problem is simplified....

[2018-05-20 10:10] pjljvandelaar commented on #673
Tonight it failed in single axis: the down message was lost.
https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/386

[2018-05-21 14:30] dnadales commented on #702
The new compiler takes 20 seconds to parse @petravandenbos file. So this can be fixed once the new compiler is merged into `develop`.

[2018-05-21 16:59] pjljvandelaar commented on #702
🖒

[2018-05-23 07:56] keremispirli commented on #611
Installer is a separate repository and it should be checked separately, but of course we can do them at the same time.

[2018-05-24 10:03] pjljvandelaar commented on #696
For usage:
`stack test --ghc-options="-Wwarn -Wincomplete-uni-patterns -Wincomplete-record-updates -Wmonomorphism-restriction -Wimplicit-prelude -Wmissing-local-signatures -Wmissing-import-lists -Wmissing-home-modules -Widentities -Wredundant-constraints"`

[2018-05-24 12:33] pjljvandelaar commented on #691
Duplicate of #696

[2018-05-24 12:33] #691 closed, assigned to nobody

[2018-05-24 12:34] pjljvandelaar commented on #692
Duplicate of #696

[2018-05-24 12:34] #692 closed, assigned to nobody

[2018-05-24 12:34] pjljvandelaar commented on #694
Duplicate of #696

[2018-05-24 12:34] #694 closed, assigned to nobody

[2018-05-28 10:02] keremispirli opened #715 "Unify how Benchmark, examples, model exploration and integration tests are run"
There are slight differences between how Benchmark, examples, model exploration and integration tests are running; we should make them the same. See TestBenchmarkSanity.hs and compare with others.

[2018-05-28 11:21] pjljvandelaar opened #716 "Check Relabelling in relabel"
A relabelling has some preconditions.
Checking whether a relabelling satisfies these preconditions is not yet located in Relabeling (I assume it is checked in the parser/compiler).
We should move it to the Relabel file.

Proposal: make relabel have three functions:
`relabel`, `checkRelabelling` and `relabel'`.
The first two have standard implementations, and only the last one needs to be implement

[2018-05-28 11:28] pjljvandelaar opened #717 "Error on the sleeves of Subst ChanOffer"
Currently we have
[code]
This will not capture mistakes where one tries to substitute the variable `vid`.
However, all other occurrences of `vid` will be replaced.

I propose to change it to (something like)
[code]

[2018-05-30 06:17] pjljvandelaar commented on #673
Again an error from moving arm: https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/399
Quite soon .... `Up` is lost.

[2018-05-30 15:01] pjljvandelaar commented on #673
Discussion with Jan: increase SUT delta time to rule that case out.
Will make pull request for that!

[2018-05-30 15:03] pjljvandelaar commented on #679
Issue still occurs   see e.g. https://semaphoreci.com/capitanbatata/torxakis/branches/develop/builds/400

[2018-05-30 15:05] pjljvandelaar commented on #679
What goes wrong?
Exception? Value is changed?
Should error message not report expected and actual value?

[2018-05-30 15:06] pjljvandelaar commented on #679
@keremispirli Should "WrongVal" lead to the default value or just not change the value?

[2018-05-31 07:25] keremispirli commented on #673
@pjljvandelaar You can make the change on `movingArmModelTest` branch. Since it's already tested every hour, we can see if increasing SUT delta time solves the problem.
https://semaphoreci.com/capitanbatata/torxakis/branches/movingarmmodeltest

[2018-05-31 07:37] keremispirli commented on #679
"WrongVal" should not change the value. But the problem is not that values don't match; there's an exception here:
[code]
We can't see the type of the exception though. This looks like something to fix in `sqatt`.

[2018-05-31 07:47] dnadales commented on #679
I don't think you can see that exception, since the process spawn by sqatt
is dying. Can't we see any logs?

On Thu, May 31, 2018, 09:37 keremispirli <notifications@github.com> wrote:

[2018-05-31 08:47] keremispirli commented on #679
No logs are created, I think the test can't even start.

[2018-05-31 14:16] pjljvandelaar commented on #673
@tretmans Larger SUT delta time doesn't seems to solve it: https://semaphoreci.com/capitanbatata/torxakis/branches/movingarmmodeltest/builds/370

Message `Up` is lost....
While later message is received.
Tester
[code]

Simulator
[code]

What goes wrong?
Is `Up` lost in communication?
Is `Up` removed by angelic completion?

[2018-06-03 18:21] tacopetri opened #719 "Missing specifications for SUT connection (string encoding, new line format)"
Hi,

I'm currently building an adapter on Windows, for a C# app. Using the 0.6.0 release version.

Two important details seem to be missing from the wiki and the examples:
https://github.com/TorXakis/TorXakis/wiki/CnectDefs

- Socket streams must have UTF-8 string encoding, without BOM. Using the C# default (with BOM), gives an unhelpful error:
torxakis.exe: <socket: 672>: hGetLine: invalid argume

[2018-06-04 10:46] pjljvandelaar opened #720 "Add exception handling to BExpr"
related to #589
 Add exception handling (checking e.g. guard has boolean valexpr)

[2018-06-04 12:58] pjljvandelaar commented on #719
Thanks for the feedback.
I have added your remarks to the wiki. See at the end of the page of https://github.com/TorXakis/TorXakis/wiki/CnectDefs

[2018-06-04 12:58] #719 closed, assigned to pjljvandelaar

[2018-06-05 07:58] pjljvandelaar commented on #679
And again. Even two times in https://semaphoreci.com/capitanbatata/torxakis/branches/issue-589-multiset/builds/3

[2018-06-05 09:19] dnadales opened #722 "TorXakis compiler treats constant functions and constdefs in a different way, is that intentional?"
Consider the following model:

[code]

The `ValExpr` for `hh` will be:

[code]

Whereas the `ValExpr` for `gg` will be:

[code]

The new compiler produces the latter expression in both cases, but I don't know if this is desired.

[2018-06-05 15:54] dnadales commented on #644
Ok, just to double check: @tretmans and @pjljvandelaar, we have the following integration test:

[code]
As the preceding discussion concluded, we **won't** support the use of `ANY` in the new compiler, so this test must be removed. Is that correct?

[2018-06-06 06:42] pjljvandelaar commented on #644
Fine with me.

[2018-06-06 06:44] pjljvandelaar commented on #722
Producing 30 in both cases is desired in my humble opinion.

The result is 30 in both cases. Yet just 30 is faster with respect to performance so is desired.

[2018-06-06 07:01] pjljvandelaar commented on #722
Note the difference is caused by recursive functions. The current compiler doesn't look inside since it might be recursive.

[2018-06-06 07:37] dnadales commented on #722
Ok, I guess that's good news for me since that's what the new compiler produces.

Indeed. The gist of how the new compiler build functions is given below:

[code]

So in case of a recursive functions with no arguments, the body of the function will be returned (`const vExp`), but no further simplifications will be made. So as far as I can see we're safe regarding recursive functions. For instance,

[2018-06-06 10:05] tretmans commented on #710
root cause might be: stAut must be initialized with valenv of parameter list

[2018-06-06 13:27] dnadales opened #724 "Refactor the new compiler"
Everything should be simplified to the extent possible.

The mock ups for the simplified functions have the `_2` suffix (to make them searchable).

- [x] Minimize the maps that are passed to `expDeclToValExpr`
- [x] Write a function that merges `Map (Loc VarRefE) (Either (Loc VarDeclE) [Loc FuncDeclE])`, `Map (Loc VarDeclE) VarId`, and Map `(Loc FuncDeclE) (Signature, Handler VarId)` into `Map (Lo

[2018-06-06 13:51] pjljvandelaar commented on #710
`StAut  StatId VEnv [Trans]`
is VEnv even needed: apply it once to `[Trans]` and all parameters values are used....

[2018-06-08 13:48] pjljvandelaar commented on #40
I propose to close this issue when we have the new parser.
Agreed?

[2018-06-08 13:52] pjljvandelaar commented on #28
This is not a real TorXakis bug, but caused by the limitations of the problem solvers that we use.

[2018-06-08 14:04] dnadales commented on #40
Yes

On Fri, Jun 8, 2018, 15:48 pjljvandelaar <notifications@github.com> wrote:

[2018-06-12 13:35] dnadales commented on #673
On Linux, testing with `stack test --ta "-m \"Axis\""` seems to make `"Restricted Axis Purpose Test (input eagerness 0) 100"` fail **always**. I don't know whether this could be confirmed on Windows. It seems the tests are not independent on each other.

[2018-06-12 18:06] pjljvandelaar commented on #673
Always with the same issue?

What do you mean with independent? They might share the same socket number....

[2018-06-14 14:14] pjljvandelaar opened #731 "Improve randomization"
I propose to improve the randomization within TorXakis.

1. Improve the interface between solve and randomization.
    Currently, due to the ordering of the arguments of `cstrAnd` and `cstrOr` the function `valExprToString` is exposed to enable full control over the order to the randomization.
2. TrueBins exploits implementation details of the problem solvers.
    We know and already have experien

[2018-06-14 14:26] pjljvandelaar commented on #731
@ramon-janssen @tretmans Martin Huijben investigated the randomization. But will he also implement a new randomization algorithm?

[2018-06-14 14:29] pjljvandelaar commented on #731
related to #401

[2018-06-14 14:33] ramon-janssen commented on #731
He is implementing randomization algorithms, but not yet in TorXakis but in an own small demo-setup. In the end, implementing it in TorXakis would be nice, but not a strict requirement for his thesis (especially if this is technically too challenging, or when he assumes only a restricted subset of datatypes/constraints).

[2018-06-15 16:24] #705 closed, assigned to nobody

[2018-06-19 12:36] keremispirli opened #734 ""unexpected type of bexpr" error for LuckyPeople"
When I load Lucky People model and run `lpe Model`, I get this error. It's thrown from `sys/lpe/src/LPE.hs` L186:

[code]

[2018-06-19 12:42] pjljvandelaar commented on #734
Probably due to guard which is not yet implemented

[2018-06-19 12:55] keremispirli opened #735 "LPE can create multiple processes with same name"
1) Load Echo model
2) `lpe proc` -> creates LPE version of proc (`LPE_proc`)
3) `show procdef LPE_proc` ->
[code]
4) `lpe Model` -> creates LPE versions of Model and **proc** (`LPE_Model` and **LPE_proc**)
5) `show modeldef LPE_Model` ->
[code]
6) `show LPE_proc` ->`no (uniquely) defined item to be shown: LPE_proc`

[2018-06-19 14:24] keremispirli commented on #735
It works with Model, too. If you run `lpe Model` twice, you always get `no (uniquely) defined item to be shown` error when you try to `show` `modeldef` or `procdef`.

[2018-06-19 14:56] CarstenRuetz commented on #735
I cannot comment on running LPE on a Model - we didn't discuss that until now - but if it works in general: nice!

On the double declaration: @pjljvandelaar I think that's part of how the lpe function is integrated into TorXakis, right?

[2018-06-19 15:05] CarstenRuetz commented on #734
The ProcDef luckyPeople includes indeed guards thus is not yet translatable.

Was just going to test it though - since I'm working on the guard translation. But got stuck on a compile error. Going to post an issue.

[2018-06-19 15:10] CarstenRuetz opened #736 "build fails due to shadowed dependencies"
Running `stack build --fast --stack-yaml stack_linux.yaml`

[code]

[2018-06-19 15:31] keremispirli commented on #736
This is a known bug rooted in GHC and it's not going to be solved in 8.2.2 but in 8.4.4: https://ghc.haskell.org/trac/ghc/ticket/14381

Running `stack clean` and then rebuilding solved the problem in my case.

[2018-06-19 15:34] dnadales commented on #736
Indeed. I'd propose to close this, since we cannot do anything about it until 8.4.4 is in the LTS.

[2018-06-19 16:53] pjljvandelaar commented on #735
@tretmans since you realized the lpe integration, you know ;-)

[2018-06-19 21:15] tretmans commented on #735
Indeed, I should know....
If you call lpe it always does the lpe transformation, no matter whether it has already been done. So twice lpe creates two procdefs with the same name, and then cannot find a unique one if you wish to show. lpe on model also cretaes the lpe of the procdef in BEHAVIOUR, so if this has already been done you again have two ....
Fix: check whether lpe has already been applie

[2018-06-20 06:55] pjljvandelaar commented on #735
When you try to create new unique names, one must return the name: since the user can't guess the name.
Hence, I propose to check whether lpe_name exists. If not call lpe otherwise skip

[2018-06-20 07:08] pjljvandelaar commented on #673
@keremispirli I think we don't need this hourly test on semaphoreci anymore.

[2018-06-20 07:27] keremispirli commented on #673
OK, do we need to keep the results or can all be gone?

[2018-06-20 08:26] dnadales commented on #673
Yes.

Yes, but this does not seem to be the problem. I could try changing the socket number to see whether that has some effect. But this issue requires more serious investigation anyway.

[2018-06-20 08:35] pjljvandelaar commented on #673
Keep the results. Yet stop generating more results.

[2018-06-20 09:19] keremispirli commented on #673
OK, the results are kept as long **as the branch stays*. So we keep that branch.

[2018-06-20 12:05] pjljvandelaar commented on #731
How to compare?
String length done differently. More characters take more time!

[2018-06-20 12:12] pjljvandelaar commented on #731
@ramon-janssen Martin can start experimenting with the current branch if he likes.
The randomization seems to work ;-)

[2018-06-20 12:14] pjljvandelaar commented on #401
Alternative: use test purpose to limit int values where wanted (e.g. length of the list should not be 2^64)

[2018-06-20 13:42] pjljvandelaar commented on #731
Proposal:
* include increment bins in next release to get feedback (as default?)
* Remove other randomization in next sprint.

[2018-06-20 14:27] dnadales opened #738 "Cleanup the new compiler code"
- Do TODO's.
- Remove compiler warnings.
- Remove `hlint` warnings.
- Add missing comments to the functions and modules.
- Add module headers.
- Use explicit imports

Modules to cleanup:

- [x] Compiler/Data
- [x] Compiler/Data.hs
- [x] Compiler/Defs
- [x] Compiler/Error.hs
- [x] Compiler/Maps
- [x] Compiler/Maps.hs
- [x] Compiler/MapsTo.hs
- [x] Compiler/Simplifiable.hs
- [x] Compiler/ValExpr
- [

[2018-06-20 15:30] CarstenRuetz commented on #736
done: stack clean worked. Thanks!

[2018-06-20 15:30] #736 closed, assigned to dnadales, keremispirli, CarstenRuetz, pjljvandelaar

[2018-06-20 15:32] CarstenRuetz commented on #734
compile error fixed. Going to work on this asap.

[2018-06-21 08:06] pjljvandelaar opened #739 "test pass while problem solver fails"
For example when using z3str3 one get the following log on Customer Orders
[code]
I think this test should have failed: We didn't make the required number of steps.

[2018-06-21 08:13] dnadales commented on #739
The server reports `PASS` and that's why `sqatt` considers the test to have succeeded. What would be the expected output in this case?

[2018-06-21 09:18] pjljvandelaar commented on #739
z3str3 can't handle our generated problems.
So moving back to z3 in #737

[2018-06-21 10:58] pjljvandelaar commented on #715
Also include where sqatt-logs and smt-log files end up.
Some end up in the `TorXakis` directory and other in the `TorXakis\test\sqatt` directory when one runs `stack test` in the `TorXakis\test\sqatt` directory.

[2018-06-21 11:22] dnadales commented on #715
Note that these are two different logs! One are the logs that the SUT and TorXakis spit out, the others are the TorXakis logs.

[2018-06-21 12:21] pjljvandelaar commented on #715
You missed the point:
* sqatt logs of benchmark-tests, explore-model-tests and tests end up in `TorXakis/sqatt-logs`
* some smt logs end up in `TorXakis`

while

* sqatt logs of integration tests end up in `TorXakis\test\sqatt\sqatt-logs`
* some smt logs end up in `TorXakis\test\sqatt`

Finally, I was unable to find all smt logs back...

Yet, the situation is even worse.
I put a .torxakis.yaml fil

[2018-06-22 12:33] dnadales commented on #738
Getting closer...

[2018-06-22 12:33] #738 closed, assigned to nobody

[2018-06-25 08:06] dnadales commented on #496
Hi, I just submitted a pull request with a [new compiler](https://github.com/TorXakis/TorXakis/pull/741) which produces more information. Could you give it a try and submit issues when an error is not useful enough? Then we can improve the error messages in a case by case basis. Thanks!

[2018-06-25 08:10] dnadales commented on #512
@pjljvandelaar: the new compiler will report:

[code]

What message do we need to close this issue?

[2018-06-25 08:36] dnadales opened #742 "Improvements to the new compiler"
- [ ] Consider unifying `DefinesAMap` with `HasTypedVars` and `HasVarReferences` type-classes.
- [ ] Remove the dependencies between `CstrDef` and `FuncId`. This dependency was introduced to ensure compatibility with the current (old?) compiler.
-  [ ] Add unit test with syntactic and semantic errors. Check that the compiler correctly catches and reports them.

[2018-06-25 11:16] JFoederer commented on #496
Thanks for the update. I’ll give a try!

Kind regards,
Johan Foederer
Océ-Technologies • Software Test Automation specialist

[2018-06-25 11:27] pjljvandelaar commented on #731
Functionality added in #737 (so available in next release)

To be done: removal of partition and TrueBins (to be done after next release)

Note: IncrementChoice should remain since it is faster (yet less random).

[2018-06-25 11:54] pjljvandelaar commented on #512
* What are the allowed tokens: is in this example `,` still allowed/expected?
  Since "x, y :: Int" is also valid e.g. when someone types `;` report `,` as well.
* What `token` is encounter that is wrong: e.g. what do you report on ":a" : ":" or "a" is unexpected?

Ideally
* both with ":" and ":a" (given that both space and a terminate the building of the current token)
  Line 7, col 45 unexpected

[2018-06-25 12:36] pjljvandelaar commented on #634
To realize #407 becomes easier:
the SUT Handler has to include time in the following three items
* Input action(s) to SUT taken/delivered
* Input action(s) to SUT failed - race condition : At least one output action was earlier
* Output action(s) from SUT

TorXakis can then check whether the time requirements of the SUT were satisfied.

Furthermore, TorXakis might include a time interval in `Input

[2018-06-25 14:35] #40 closed

[2018-06-25 14:35] #496 closed

[2018-06-25 14:35] #638 closed

[2018-06-25 14:35] #644 closed

[2018-06-25 14:35] #659 closed, assigned to dnadales

[2018-06-25 14:35] #666 closed, assigned to nobody

[2018-06-25 14:35] #702 closed, assigned to dnadales

[2018-06-25 15:16] pjljvandelaar commented on #496
permanently removed sensitive info.

[2018-06-27 06:01] pjljvandelaar commented on #652
Version 1.6 of cvc4 is released.

----------------------------
We are delighted to announce version 1.6 of CVC4, the open-source flagship SMT solver developed at Stanford University, New York University and the University of Iowa, available at

http://cvc4.cs.stanford.edu.

This version is very close to the version of CVC4 submitted to the SMT-competition 2018.

New Features:
- A new theory of flo

[2018-06-27 12:48] dnadales commented on #483
Now, the new compiler will give an error in both cases: when ambiguous functions are used, and when ambiguous process are used.

So the behavior is consistent, but less restrictive.

[2018-06-27 14:46] pjljvandelaar commented on #483
New compiler should be more restrictive ;-)
Also for channels and parameters.

[2018-06-28 10:33] pjljvandelaar opened #746 "ProcId contains information which is not part of the process' signature"
The `ProcId` is a reference to the `ProcDef`.
A `ProcId` should only contain information related to the `ProcDef`s signature.
However, `ProcId` is currently defined as follows
[code]
Hence it also contains the names of the channels and  the variables.

It should be changed to:
[code]
where
[code]

Unfortunately, some parts of the code use the names. For example, in LPE.hs in the function `stepsUpd

[2018-06-28 12:11] keremispirli commented on #690
Commands implemented; preparing for merge.

Some notes:
 - `state` and `btree` commands are broken or not implemented in current implementation, so they are not implemented.
 - `trace` does uses the function at the `TxsCore` since the changes in `TxsCore`are still in progress in _txs-webserver_ branch. The changes should be reflected when the related changes are completed and are being merged.
 -

[2018-06-28 12:27] pjljvandelaar commented on #746
@CarstenRuetz please look at branch issue746/ProcId
(https://github.com/TorXakis/TorXakis/tree/issue746/ProcId)

It seems that you have used the channels of the procId to detect channel switching.
Now that the chanId only contain type this check fails (of course).
Yet, I am unable to localize the piece of code responsible. Please help!
Every thing build and all tests succceed except for two LPE te

[2018-06-28 13:29] #483 closed

[2018-06-28 18:06] pjljvandelaar commented on #722
I assume we can close this issue

[2018-06-28 18:07] dnadales commented on #722
Yes, indeed.

On Thu, Jun 28, 2018, 20:06 pjljvandelaar <notifications@github.com> wrote:

[2018-06-28 19:29] #722 closed, assigned to pjljvandelaar, tretmans

[2018-06-29 09:54] dnadales opened #749 "Remaining tasks for the new cli"
- [ ] Fix ConfigFile `sqatt` test: The problem seems to be that the TorXakis configuration is not loaded at all in the new CLI!
    - [ ] It seems we keep the parameters at the Lib.Session. `ParamsCore.Params` is already in the `EnvC`, so we shouldn't keep it there.
- [ ] Fix `echo` command so that all the works are not output line by line.
- [ ] Fix `user error (Pattern match failure in do expres

[2018-06-29 12:47] dnadales commented on #749
Here's the procedure for checking the Adder:

Compile and start the SUT:

[code]

Test with TorXakis:

[code]

And watch it fail :fire:

[2018-06-29 12:50] dnadales commented on #749
Regarding the termination of the CLI and web-server, we need to replace `Turtle.inproc` by `Process.createProcess`. Below is an example, which indicates the kind of modifications needed in sqatt:

[code]

[2018-07-02 14:54] pjljvandelaar opened #752 "Define Error type for Either"
We want smart constructors to return `Either <ErrorType> <DesiredType>`

In `ErrorType` we want
1. Kind of Error - standardized
2. Origin of Error - user defined, but showable
      * For parser: file name, line number, and column number
      * For generator: algorithm, parameter values and whether other relevant info
3. Text message of Error

In this way, we can get as consistent as possible err

[2018-07-02 15:00] pjljvandelaar commented on #752
Looking at `EnvData.hs`: I propose to start with the following three categories
* SystemError : Error in realization
* ModelError : Error in model (e.g. division not protected for division by zero)
* UserError: Error in user input

[2018-07-02 15:06] pjljvandelaar commented on #652
CVC4 has changed their flags:
For 1.7 -prerelease they should be
  flags:
  - "--lang=smt2.5"
  - "--incremental"
  - "--strings-exp"
  - "--fmf-fun-rlv"
  - "--uf-ss-fair"
  - "--no-strings-print-ascii"

[2018-07-03 06:28] pjljvandelaar commented on #752
A division by zero can be an error in the model.
As a user, I like that the error message points to the location of the offending division in the file, since a single file can have many divisions.

However, when a generator (like for randomization or lpe) adds a division, when a division by zero occurs it is a system error (or generator error which does not yet exists ;-).

So adding just an addit

[2018-07-03 13:26] CarstenRuetz commented on #746
Yes, I indeed used the channels of the procId.
Should be changeable like you said.

However, I get no failing tests in the current state of branch issue746/ProcId:
Cases: 91  Tried: 91  Errors: 0  Failures: 0

Did you commit the changes to the ProcId definition already? Then I can have a look at it. There might be other places where I used information from the ProcId definition that you want to re

[2018-07-03 13:29] CarstenRuetz commented on #734
Just discovered that LuckyPeople shows a case of guards that I didn't consider previously. Going to change the LPE translation accordingly, then I'll get back to this.

[2018-07-03 14:39] pjljvandelaar commented on #746
I was surprise by your remark.
So I duplicated the experiment at my other working location
and indeed I forgot to check in some of my changes....
Sorry ;-(

Will update the branch tomorrow when I am at ESI once more.

P.S. I got
[code]

[2018-07-04 06:34] pjljvandelaar commented on #746
strange, back at the original work spot:
[code]
And https://github.com/TorXakis/TorXakis/blob/issue746/ProcId/sys/bexpr/src/ProcId.hs really contains the changes....

[code]

[2018-07-04 06:45] pjljvandelaar commented on #746
line 830:
`stepsUpdateProcInsts procs procToParams pcMap procIdNew _ (TxsDefs.view -> ActionPref actOffer procInst''@(TxsDefs.view -> ProcInst procIdInst' chansInst _paramsInst)) =`
seems to be relevant: changing `_` to `chansInst` and vice versa results in other error in the same test.
Yet, I expected that the two arguments should have the same value (but maybe I am wrong ;-)

[2018-07-04 06:50] pjljvandelaar commented on #746
Will look tomorrow at other work spot once more what I (and maybe you) did wrong, since everything is correctly checked in....

[2018-07-04 07:02] pjljvandelaar opened #753 "Write Developers guidelines"
We need a developers guide for TorXakis:
This issue will be used to write it iteratively

###  Package

  - [ ] Write README.md file
  - [ ] use package.yaml
      - [ ] Use the following ghc-options:
               -Werror
               -Wall
               -O
               -Wincomplete-uni-patterns
               -Wincomplete-record-updates
               -Wmonomorphism-restriction (allowed to

[2018-07-05 12:40] pjljvandelaar commented on #580
See https://github.com/sol/hpack/issues/291 for a haddock related issue (and a possible workaround)!

And https://github.com/sol/hpack/issues/303

[2018-07-05 12:52] pjljvandelaar commented on #746
When I executed a `git pull` today I got
[code]
This challenged my view on my `issue746/ProcId` branch: maybe I did not get it from the archive at this work spot!
Maybe I executed ` git checkout -b issue746/ProcId` instead of ` git checkout issue746/ProcId`!!

So, I deleted the branch  (after `git checkout develop`) by `git branch -D issue746/ProcId`.
Executed ` git checkout issue746/ProcId` and n

[2018-07-05 13:40] pjljvandelaar commented on #715
Furthermore, it seems that logs are not always completely written to the console.
See e.g. https://ci.appveyor.com/project/torxakis-admin/torxakis/branch/develop
of
Issue/update appveyor (#751) - pre-0.7.0.17.develop

that contains a log file that seems to be prematurely terminated on line 15103
See excerpt below:
[code]

[2018-07-05 19:26] pjljvandelaar commented on #652
New release of yices available: The current version is Yices 2.6.0. It was released on 2018-06-30.

[2018-07-05 19:28] pjljvandelaar commented on #265
The current version is Yices 2.6.0. It was released on 2018-06-30.

[2018-07-05 19:30] pjljvandelaar commented on #265
If yices works add it to the ini-file.
Also check yices nl since non-linear solving is really relevant for one of our customers/partners.

[2018-07-06 07:38] pjljvandelaar commented on #265
Made a change since Yices is more strict (see #756).

Yices does not support recursive functions: going submit issue!
So we are blocked once more ;-(

[2018-07-06 11:51] pjljvandelaar commented on #265
We can already offer it when user **don't** use
* functions (since we map them on recursive functions)
* data types - not yet supported by Yices
* strings - not yet supported by Yices

@tretmans  Is that sufficient?

Note: we can't distribute Yices together with TorXakis due to its license. So we have to make our users aware of **MANY** constraints and download/installation procedures.

[2018-07-06 12:51] pjljvandelaar opened #759 "Caching fails on AppVeyor"
Some caching doesn't seem to be working on AppVeyor:

 15198Cache entry not found: C:\Users\appveyor\AppData\Local\Programs\stack\x86_64-windows\msys2-20150512
 15199Cache entry not found: C:\Users\appveyor\AppData\Local\Programs\stack\x86_64-windows\msys2-20150512.installed

[2018-07-06 13:04] dnadales commented on #759
This might be related to what @keremispirli mentioned in https://github.com/TorXakis/TorXakis/pull/750.

But we shouldn't have to worry about the cache. I think the problem is that we build sqatt in our CI. I think it is better to build it as a separate project, and use the binaries in the CI.

[2018-07-06 13:46] pjljvandelaar commented on #759
So we wait...

[2018-07-09 06:44] pjljvandelaar commented on #265
Solved in #758
Yet with the constraints:  No functions, no data types and no strings!

[2018-07-09 06:44] #265 closed

[2018-07-09 08:02] pjljvandelaar opened #761 "Release 0.8.0"
- [x] Create and upload v0.8.0 installer for Windows.
     - [x] Update CHANGELOG.md
     - [x] Need to update Wix?
     - [x] Follow instructions in [Windows Installer's README.md](https://github.com/TorXakis/SourceWindowsInstaller/blob/develop/README.md)
 - [x] Compare benchmarks of new and previous version (e.g. 0.8.0 to 0.7.0)
 - [x] Contact Harco Kuppens for macOS installer
 - [x] Contact Dam

[2018-07-09 09:24] pjljvandelaar commented on #652
@keremispirli I need to  `Remove caches from build environments (SemaphoreCI / AppVeyor)`.
However on the pages:
https://semaphoreci.com/torxakis-admin/torxakis/settings
and
https://ci.appveyor.com/project/torxakis-admin/torxakis/settings
I am unable to find the right `fields`.

Do I have to change the scripts?
If so, how?

[2018-07-09 09:29] dnadales commented on #652
For semaphore you have an "Expire dependency cache" in
https://semaphoreci.com/torxakis-admin/torxakis/settings/admin
Is that what you're looking for?

On Mon, Jul 9, 2018 at 11:24 AM pjljvandelaar <notifications@github.com>
wrote:

[2018-07-09 09:53] pjljvandelaar commented on #652
@keremispirli I have an issue:
https://ci.appveyor.com/project/keremispirli/sourcewindowsinstaller/history doesn't exist anymore....
Didn't we move this to torxakis-admin?

[2018-07-09 10:09] dnadales commented on #652
The SouceWindows installe project was deleted from Kerem's account, but it was not added to AppVeyor in the new account. Do you want to do it? Or should I?

[2018-07-09 10:21] dnadales commented on #749
Ok, I think the parallel adders example is working after [this commit](https://github.com/TorXakis/TorXakis/commit/2fccaa1791a36e0dc7d3a3c62acf6357f3cfd687). As far as I understand, the problem was that the, now defunct, [`zipHandles`](https://github.com/TorXakis/TorXakis/commit/2fccaa1791a36e0dc7d3a3c62acf6357f3cfd687#diff-f65bd489a1e2bdf2cf1134c50de33806L149) function was taking the Cartesian pr

[2018-07-09 10:52] pjljvandelaar commented on #652
I will try

[2018-07-09 13:32] pjljvandelaar commented on #652
@keremispirli I don't get the automatic building of the installer to work...
What am I missing?

Note: locally it seems to work (although the last lines worry me...)
[code]

[2018-07-09 15:17] pjljvandelaar opened #765 "Webhooks - TorXakis"
What are the good and necessary webhooks?
We currently have one too many for appveyor....

[2018-07-10 12:38] pjljvandelaar opened #766 "changing flags of problem solvers should be localized"
Currently, the flags of problem solvers, and their flags, are duplicated in three locations.
See e.g. https://github.com/TorXakis/TorXakis/pull/764

[2018-07-10 12:41] pjljvandelaar commented on #766
As mentioned in https://github.com/TorXakis/TorXakis/issues/652 the flags of cvc4 were changed.
This resulted in changes needed in
* .torxakis.yaml
* sys/coreenv/src/Config.hs
* sys/solve/test/TestSolvers.hs

[2018-07-10 15:26] pjljvandelaar commented on #759
Waiting doesn't solve it:
[code]
see also
[code]

[2018-07-10 15:28] pjljvandelaar commented on #724
@capitanbatata All items have been checked.
Can this issue be closed? If so, please close!

[2018-07-10 15:32] #724 closed, assigned to dnadales

[2018-07-11 14:29] tretmans opened #768 "type names inconsistent in case sensitivity"
Defining use of typename in type definition can be either CapsId or SmallId; used typenames can only be CapsId. So SmallId types can never be used.

[code]
is OK,

but then

[code]
gives an error on `int2`.

[2018-07-11 14:49] tretmans opened #769 "cannot use defined values in new values"
TXS >> val x=42
TXS >>  x = 42
TXS >> val y=x+7
TXS >>  Error {_errorType = Undefined Entity, _errorLoc = ErrorLoc {errorLine = 1, errorColumn = 3}, _errorMsg = "Could not find key \"x\" of type Text when looking for a value of type Proxy * [Loc FuncDeclE]"}

I would like to use x in new val-definition.

[2018-07-11 16:58] pjljvandelaar opened #770 "Improve cache handling in Build environments"
Our build environments (appveyor and semaphoreci) have a time limit.
We introduced caching to stay within these limits.
However our environment changes which sometimes invalidates the caching.
I would like to improve the link between the cache and the statements that fill it. E.g. the link between msys2 and stack -install -ghc-compiler is now implicit.
Furthermore, I want that when caches are inva

[2018-07-12 06:43] pjljvandelaar commented on #770
Furthermore, I would like that it is automatically detected when some items are NOT created anymore. For example msys2-2015xxxx became msys2-2018xxxx yet this was NOT signaled.

@keremispirli What does .installed mean in caching, e.g. in `%LOCALAPPDATA%\Programs\stack\x86_64-windows\ghc-integersimple-8.2.2.installed`?

[2018-07-12 11:49] torxakis-admin commented on #770
Why is .stack-work in test/sqatt not cached on appveyor?
Currently only:
[code]

[2018-07-12 11:51] dnadales commented on #770
I think because it will blow up the cache size

On Thu, Jul 12, 2018, 13:49 TorXakis admin <notifications@github.com> wrote:

[2018-07-12 12:07] torxakis-admin commented on #770
Strange, I expect it to be smaller than .stack-work in the root....

[2018-07-12 13:38] pjljvandelaar commented on #765
I think I fixed it ;-)

[2018-07-12 13:38] #765 closed, assigned to pjljvandelaar

[2018-07-12 13:40] pjljvandelaar commented on #759
Date was changed (from 20150512 to 20180531) should be
[code]

[2018-07-12 13:49] pjljvandelaar commented on #761
new LTS with ghc 8.4.3 is out: https://www.stackage.org/lts-12.0

[2018-07-13 09:20] dnadales commented on #770
Maybe @keremispirli has some other insights ...

[2018-07-13 09:59] keremispirli commented on #770
- `.installed` files exist next to respective directories and signal that the respective installation exists. That's why we cache both the file and the directory.
 - I think `.stack-work` in `test/sqatt` is just forgotten. Since we also cache `.stack-work` in the root, it makes sense to cache this one, too. In that case it's condition better be `test/squatt/stack_appveyor.yaml`. Of course, we shou

[2018-07-13 11:03] #759 closed, assigned to nobody

[2018-07-13 11:05] pjljvandelaar commented on #770
@keremispirli thanks! Will pick it up after my holidays.

[2018-08-06 19:05] pjljvandelaar commented on #522
@tretmans is A >-> p equal to (A | EXIT) >>> p or ( A >-> EXIT) >>> p ?

[2018-08-08 09:52] pjljvandelaar commented on #652
[compare.xlsx](https://github.com/TorXakis/TorXakis/files/2269794/compare.xlsx)
Compared 0.5.0 with 0.7.0
one big surprise: real world /customers and orders ....

[2018-08-08 09:52] #652 closed, assigned to nobody

[2018-08-09 09:36] CarstenRuetz commented on #746
solved.

You almost got there, chained the right chansDef through.
Just in the last case of stepsUpdateProcInsts you used the channels of the original ProcInst (that is to be substituted here) instead of the chained-through channels.

Took some debugging, but it's done :)
See the latest commit.

[2018-08-09 09:37] CarstenRuetz commented on #734
done.
Guard is fully implemented, all issues with LuckyPeople resolved. See latest commit in branch lpe.

[2018-08-09 09:37] #734 closed, assigned to CarstenRuetz, pjljvandelaar, tretmans

[2018-08-09 10:51] pjljvandelaar commented on #746
@CarstenRuetz can we merge the latest lpe commit with the main branch?

[2018-08-09 11:12] pjljvandelaar commented on #746
I have to check that all software on top of lpe is also fine...
LPE was not the only part that needed changes ;-)

[2018-08-09 14:34] CarstenRuetz commented on #746
Yes, I actually merged the develop branch of today into lpe already. So this should be quick for you.

[2018-08-13 14:03] pjljvandelaar opened #776 "Typed tagless final interpreter for TorXakis"
TorXakis has a typed DSL.
We would like to type check elements in the TorXakis DSL as well.
Haskell has the so-called `typed tagless final` approach.
See e.g. http://okmij.org/ftp/tagless-final/.

The approach is composable. See e.g. the next example
[code]
- [ ] Some representations need the type (e.g. SMT LIB's `define-fun`). Could we, similar to [showType](http://hackage.haskell.org/package/sho

[2018-08-13 17:51] pjljvandelaar commented on #776
Relevant links https://kseo.github.io/posts/2017-01-16-type-level-functions-using-closed-type-families.html
https://lambdacube3d.wordpress.com/2016/03/03/tuples-as-heterogeneous-lists/
http://okmij.org/ftp/Haskell/types.html#HList

[2018-08-15 10:07] pjljvandelaar commented on #634
As @tretmans remarked, the messages communicated will depend on the torxakis model.
One could provide the JSON / XSD description to our users, such that the expected messages can be type checked.
Maybe one could use generic programming for that (see e.g. 4.4 of https://leanpub.com/book-of-types).
(First few chapter available via http://reasonablypolymorphic.com/ )

[2018-08-15 13:05] ramon-janssen commented on #769
This also occurs in LET-expressions in models:

`Stimulus ?x [[ LET y = x IN True NI ]] >-> Response`

gives a parse error

`TXS >>  Errors [Error {_errorType = Undefined Entity, _errorLoc = NoErrorLoc, _errorMsg = "Could not find key Loc {line = 15, start = 19, locUid = 1009} of type Loc VarDeclE when looking for a value of type Proxy * SortId"}]`

(obviously, this example is stupid, but non-stup

[2018-08-15 14:17] ramon-janssen opened #777 "Compiler crashes when using constants as function arguments"
The new compiler gives an error when supplying CONSTDEF-arguments to function calls:
[code]
This lets txsserver crash with the following error:
`txsserver: FuncId FuncId {name = "zero", unid = 1046, funcargs = [], funcsort = SortId {name = "Int", unid = 102}} not found in mapping with keys: [FuncId {name = "id1", unid = 1044, funcargs = [SortId {name = "Int", unid = 102}], funcsort = SortId {name

[2018-08-15 16:08] #746 closed, assigned to CarstenRuetz, pjljvandelaar

[2018-08-15 17:14] pjljvandelaar opened #778 "Develop doesn't build"
We merged a few branches that all were green, yet develop is red.
See https://semaphoreci.com/torxakis-admin/torxakis/branches/develop/builds/82 which error seems to be related to the new procid.
While Issue746/proc #774 built fine.

[2018-08-15 17:26] pjljvandelaar commented on #777
Zero is not part of the defined functions (it is optimized away). Zero should be in the signatures. So either zero is not inserted into the signatures or defined functions is used instead of signatures.

[2018-08-15 18:01] pjljvandelaar commented on #778
Is the dependency management of txs-compiler faulty? Why first everything fine and finally not?

[2018-08-16 07:43] pjljvandelaar commented on #777
The error message seems to be originated from TXS2SMT.hs
So it seems `zero` is added to functions yet has no implementation...
Which is desired since it just a substitution that can be performed once!

[2018-08-16 11:29] pjljvandelaar commented on #777
@dnadales any idea why `zero` is not added?

[2018-08-16 12:05] dnadales commented on #777
From the top of my head I have no idea. I'm a bit busy with ramping up in
my new job, so I cannot guarantee I'll have time to look a this in the near
future. Sorry.

On Thu, Aug 16, 2018 at 1:29 PM pjljvandelaar <notifications@github.com>
wrote:

[2018-08-16 15:47] #778 closed, assigned to nobody

[2018-08-17 06:44] #777 closed, assigned to nobody

[2018-08-17 13:51] pjljvandelaar commented on #769
@dnadales any idea what goes wrong?
I tried, yet failed so far ;-(

In this example, I couldn't localize where the variable (in this example `y`) is replaced/ substitute / simplified by its expression (in this example `x`) in the expression (in this example `True`).
Yet, I saw that let var declarations are combined, in a way that violates contexts.

See Parser/Data.hs
[code]
I hope that the local

[2018-08-17 14:25] dnadales commented on #769
The function above simply collects all the `LetVarDecl`'s. In the example above `x` is not a let variable declaration, so it won't be part of the result.

[2018-08-17 15:19] pjljvandelaar commented on #769
I agree that 'x' is not, yet
'y' is a Let variable declaration I assume.

[2018-08-17 15:21] dnadales commented on #769
I see, you're looking for `y`. As far as I remember the `LET` expression of the example is not a `ExpDecl` but a behavior expression declaration ...

[2018-08-18 14:43] dnadales commented on #769
I think I fixed it, but @ramon-janssen  and @pjljvandelaar please review.

[2018-08-18 14:48] dnadales opened #782 "Introduce the -Wpartial-fields warning"
This warning is quite useful to prevent errors when trying to access non-existing fields in sum types, i.e.:

[code]

In the example above function `gimmeThatInt` is partial, and its use should be discouraged.

In addition consider adding other useful warnings mentioned [here](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/using-warnings.html).

[2018-08-19 15:35] pjljvandelaar commented on #769
@dnadales great!

[2018-08-20 06:17] pjljvandelaar commented on #782
It seems ghc 8.4.3 has a new warning: so the list of #696 has grown.

[2018-08-20 06:18] pjljvandelaar commented on #782
@dnadales What is the desired implementation of MSum? How should we implement this functionality without getting any warning?

[2018-08-20 06:28] pjljvandelaar commented on #769
The bug reported by Jan is still present:
[code]
However, the second issue seems solved:
[bug.txt](https://github.com/TorXakis/TorXakis/files/2301330/bug.txt)
with content
[code]

yields
[code]

[2018-08-20 06:51] pjljvandelaar opened #783 "Single yaml file for test\sqatt"
Test sqatt currently has two .yaml files:
stack.yaml and stack_appveyor.yaml.
This give double maintenance.

I propose to drop stack.yaml in favor of stack_appveyor.yaml. (and rename to stack.yaml)
Then also our users have the cache space benefits: the same compiler for all torxakis projects.
Of course, the script that use stack_appvetor.yaml have to be adopted.

See also #770

[2018-08-20 07:33] dnadales commented on #769
Yes indeed. The PR I made only solves the bug that Ramon submitted.

Regarding this issue, wasn't this behavior the same with the old parser?

[2018-08-20 07:36] dnadales commented on #782
No idea about what is the solution the community accepts (you can always send a message to Haskell Cafe or to Stack Overflow). Personally I'd make `gimmeThatInt` private to the module and define a function that returns a `Maybe`. However this doesn't solve the problem with that function being used inside the module.

[2018-08-20 08:10] pjljvandelaar commented on #783
Seems not possible due to Linux doesn't support Linux_integersimple!
See #784

[2018-08-20 08:24] pjljvandelaar commented on #783
It would be better to have a stack.yaml for windows and stack_linux.yaml for Linux in both TorXakis and sqatt.

[2018-08-20 10:20] #783 closed, assigned to pjljvandelaar

[2018-08-22 07:01] pjljvandelaar commented on #565
When we want to merge this branch with the main development, we have a lot of issues
[code]

[2018-08-22 08:25] pjljvandelaar commented on #565
@keremispirli Why is a user defined ADTDef of type `ADTDEF (Either Sort Name)`?
Can't it be just `ADTDEF Name` (i.e. user refer by name)
and `ADTDEF Sort` for all internal references (i.e. we refer by checked names)?

How could a user get hold of our internal references?
Originally we thought we had to share but with using hashing that wasn't needed anymore.
So we don't distribute them ...

[2018-08-24 08:13] keremispirli commented on #565
I think we have tried `ADTDEF Name` and `ADTDEF Sort` but at some point (I think it was close to the compiler) we got stuck; the only choice was `ADTDEF (Either Sort Name)`. I remember writing the details down somewhere but can't find it now.

On the other hand, since now we have a new compiler it may indeed be possible to use something simpler.

[2018-08-28 14:36] pjljvandelaar commented on #129
Having a default behaviour might help. For example, fill in webform: allowed behaviour all fields in any order, yet default top-down order. Simplifies reporting to user.

[2018-09-03 22:21] tretmans opened #787 "multiple same channels in ActOffer"
New compiler allows multiple EXITs, or channels, in one ActOffer,
in contrast to old compiler:

CHANDEF  MyChans
 ::=     A,B
ENDDEF

MODELDEF Mod
 ::=     CHAN IN
         CHAN OUT A,B
        BEHAVIOUR
           ( A | EXIT?x::Int | EXIT!1 ) >>> ACCEPT ?id IN  B | B  >-> STOP NI
ENDDEF

Should this be allowed?
Old compiler gives two errors:  EXIT double used, and B double used.

[2018-09-10 12:42] tretmans opened #788 "scoping in action prefix"
New Compiler;
Model:
[code]
gives
[code]
wrong binding of `x` .

[2018-09-17 06:24] pjljvandelaar commented on #769
V0.6:

C:\Users\tretmansgj\OneDrive - TNO\MyData\TorXakis\BugExperiments\AlanRibeiro>torxakis

TXS >>  TorXakis :: Model-Based Testing

TXS >>  txsserver starting: "PC-31093.tsn.tno.nl" : 55634
TXS >>  Solver "z3" initialized : Z3 [4.6.0]
TXS >>  TxsCore initialized
TXS >>  input files parsed:
TXS >> var x :: Int
TXS >>  [ x ]
TXS >> solve x>10
TXS >>  sat
TXS >>  fromList [(VarId {name = "x", uni

[2018-09-19 16:39] pjljvandelaar commented on #776
Not a solution. We need to read the TorXakis file by (template) Haskell. Hence, we get Haskell error messages....

When we at run time readin the TorXakis file, we loose the type checking capabilities of the Haskell compiler for the TorXakis language.

[2018-09-19 16:39] #776 closed, assigned to nobody

[2018-09-24 06:54] pjljvandelaar opened #790 "FreeMonoid uses non-Monoid laws"
A monoid needs to adhere to the [monoid laws](https://en.wikibooks.org/wiki/Haskell/Monoids#Monoid_laws).

A data structure might adhere to monoid laws and additional laws (see e.g. https://wiki.haskell.org/Free_structure)

FreeMonoid assumes despite its name that suggests a monoid that an inverse exists. So it is at least a [group](http://hackage.haskell.org/package/groups-0.4.1.0/docs/Data-Group

[2018-09-28 06:23] pjljvandelaar commented on #128
Instead of introducing a new language extension for a limited number of identical parallel processes `p`, we could also do the following:
1. Introduce a parameter for LPE indicating the number of maximal parallel processes: `n`.
2. Let LPE generate two things
   a. `n+1` parallel processes, including a counter for number of active processes. This counter is incremented on execution the first actio

[2018-09-28 10:55] pjljvandelaar commented on #128
@CarstenRuetz  can you update the progress in Jan Tretmans remark above?

[2018-09-30 08:22] CarstenRuetz commented on #128
@pjljvandelaar updated. But with a remark: there is still a bug there which needs fixing. Will do that asap.

[2018-10-01 15:50] tacopetri opened #791 "Starting TorXakis: welcome message sent over error channel, not output channel?"
Hi!

I am catching both the output and error messages coming from TorXakis during a test run. For logging purposes and to display them inside the console window of the app being tested.

Is it my implementation, or is the welcome message "TorXakis :: Model-Based Testing" sent over the ERROR channel, not the OUTPUT channel as expected?

![torxakis startup error channel](https://user-images.githubus

[2018-10-01 16:17] tacopetri opened #792 "Intermittent error: <socket: 652>: hGetLine: invalid argument (Bad file descriptor)"
Hi!

As the title suggest I am getting intermittent errors that halt a test run completely.
(using the 0.7.0 release)

Could someone please tell me what this error means, and whether it's my fault? =)
<socket: 652>: hGetLine: invalid argument (Bad file descriptor)

It looks like TorXakis doesn't like/understand some output that my adapter is sending. But the error is not consistent, and I'm only s

[2018-10-01 16:23] tacopetri commented on #792
I'm attaching my full test model, in case that helps.

torxakis ReferenceSynchronized.txs
stepper Model
step 110

[ReferenceSynchronized.txt](https://github.com/TorXakis/TorXakis/files/2434769/ReferenceSynchronized.txt)

(NOTE: I cannot attach .txs files, so I renamed it to .txt)

[2018-10-01 16:50] tacopetri opened #793 "Documentation/example request: MAPPER functionality (CNECTDEF)"
Hi!

I want to preserve message order for all communication between TorXakis and my test adapter. That means I should only use 1 TCP connection, so that variable network delays cannot cause problems.

The default approach maps each connection to a single input and single output channel:
`CNECTDEF System ::=
 CLIENTSOCK
  CHAN OUT Input HOST "localhost" PORT 2345
  ENCODE Input ? s -> ! toString(s)

[2018-10-02 10:28] tacopetri commented on #792
I am also getting a slightly different error sometimes (note the line number, 656 not 652):

<socket: 656>: hGetLine: invalid argument (Bad file descriptor)

[2018-10-03 17:43] pjljvandelaar commented on #790
Refactor all doesn't use free monoid so issue is gone

[2018-10-03 17:43] #790 closed, assigned to dnadales

[2018-10-03 18:05] pjljvandelaar commented on #793
In fact, you can also make the mapper yourselve.
1. Make a model with all channels that you want.
2. Make a synchronization model that receives a message of your model and put it on the single connection
For example
[code]
3. Put these models in synchronization using ||.

[2018-10-03 19:05] tacopetri commented on #793
Ah, that is an interesting approach, thanks!

That would allow me to use simple channels in the test model, at the cost of defining this sync model (which duplicates a bit of information, as the complete script now contains both approaches: simple channels, and abstract data type channels).

====

My question is actually inspired by how two other tools handle this problem:

UPPAAL TRON
- there is

[2018-10-04 06:32] pjljvandelaar commented on #791
As can be seen on
https://github.com/TorXakis/TorXakis/blob/develop/sys/ui/src/UI.hs#L65
and
https://github.com/TorXakis/TorXakis/blob/develop/sys/ui/src/UI.hs#L82
Both the welcome and farewell message are sent over the error channel (stderr).

@tretmans is this a bug or a feature?
When it is a feature, please inform us why!

[2018-10-04 06:38] pjljvandelaar commented on #793
You are aware of the option encode/decode in ConnectDefs?
See https://github.com/TorXakis/TorXakis/wiki/CnectDefs

When mapping multiple channels on one, one typically introduces an ADT with a constructor for each channel. ToString of that ADT value seems what you want!

[2018-10-04 06:44] pjljvandelaar commented on #792
What is your platform?
I tried it on windows and I could not reproduce it.
How often does it occur? once every 10 times, 100 times, 1000 times?

[2018-10-04 06:51] pjljvandelaar commented on #792
I got to reproduce it (with yet another number):
`torxakis.exe: <socket: 508>: hGetLine: does not exist (No such file or directory)`
by just `step 1000000`

[2018-10-04 06:57] tacopetri commented on #792
I am running on Windows 10 Pro.

It occurs relatively often, once every 10 times maybe. It seems to happen more frequently during the first fresh test run of the day: I reproduced it on the first try today for example.

Also got a different line again:
`torxakis.exe: <socket: 660>: hGetLine: invalid argument (Bad file descriptor)`

[2018-10-04 06:58] pjljvandelaar commented on #792
By starting `txsserver` and `torxakis` separately, I get the following error message
[code]
so problem is in the model.

An indeed it is: one should use ITE. See https://github.com/TorXakis/TorXakis/wiki/IteValExpr

TorXakis has no order, so the isX(x) doesn't enforce that after the /\ only checks with datatypes constructed by X are used.

So change to
[code]
and the errors should be gone!

[2018-10-04 07:33] tacopetri commented on #792
Many thanks, I'll fix my model! =)

Are there plans to pass these txsserver errors to torxakis in the future? It would really help if the error messages weren't so cryptic on the client side.

[2018-10-04 07:40] pjljvandelaar commented on #792
We are in the middle of a big refactor (see branch refactor/All).
However, I get squeezed by other project activities....

[2018-10-04 07:41] pjljvandelaar commented on #792
@tacopetri please close the issue when you are able to run your model for thousands of steps without ever crashing.

[2018-10-04 07:47] tacopetri commented on #792
I ran the stepper for 10.000 steps without errors. I also ran the tester against the SUT for 5000 steps without errors. Closing issue!

====

These replacements seem to have worked:

`Sync ? begin :: Internal [[ IF isCreateItemBegin(begin)
                              THEN createItemBeginId(begin) == 1
                              ELSE False FI ]]`

`Input ? connect1 :: External [[ IF isConnectI

[2018-10-04 07:47] #792 closed, assigned to nobody

[2018-10-04 09:36] pjljvandelaar commented on #792
Great!

Maybe I should give more attention to the remark about accessors functions:

_Note that these accessor functions are only defined for instances of the Cstr_Int constructor, i.e.,
instances of List_Int for which isCstr_Int(x) returns True. head(CNil_Int) and tail(CNil_Int) are thus not defined.
One should guard the usage of accessor functions with the constructor check, using IF THEN ELSE F

[2018-10-04 09:49] tacopetri commented on #792
The function page seems pretty clear to me.

However, that the order of evaluation is not guaranteed when combining functions (leading to seemingly random errors), is a bit sneaky.

If I understand correctly, under *some* circumstances the expression:
`isCstr_Int(x) /\ (head(x) == 1)`
Is re-ordered/optimized internally to:
`(head(x) == 1) /\ isCstr_Int(x)`
Leading to a hard error since the `head`

[2018-10-04 14:51] tacopetri commented on #793
Hmm. I can't seem to find an example model that doesn't just use the simple approaches:
- hard-coded manual serialization: `! "test"`
- toString() / fromString()
- toXml() / fromXml()

I'm assuming ENCODE and DECODE work similar to the synchronized model example you posted: using pattern matching to transform the values. But it's hard to guess the exact syntax, and so far TorXakis is just throwing

[2018-10-04 15:35] tacopetri commented on #793
As context:

I am trying to model events in object-oriented systems, that use the publish/subscribe pattern. These events all pretty much look like:
- Event type/name
- 0..N simple additional named properties (int, string, bool, etc.)

Modeling these events as ADTs, sent over a single channel, seems very natural. The signature for events with 0, 1 or 2+ properties should be similar, so the constru

[2018-10-04 17:18] pjljvandelaar commented on #793
I am not certain I understood your problem completely.
I would use
[code]
and
[code]

[2018-10-04 18:13] tacopetri commented on #793
Haha, yes we seem to be in agreement: I would also use the format you propose. The alternative format with the named channels (that would require a MAPPER) does not seem wise due to the practical modelling fluff required (my last comment was an exploration of that idea).

At this point I've looped back to the solution already presented in the opening comment: send the ADT Event over a single Event

[2018-10-05 08:03] pjljvandelaar commented on #761
Should we skip this release since still busy with internal refactoring?

[2018-10-06 12:25] tacopetri opened #794 "Related GitHub projects: naming and license restrictions?"
Hi!

I am currently doing my MSc thesis at the Open University, applying MBT at the company where I work (XVR Simulation in Delft).

This will result in a .NET framework with a few extensions for TorXakis:
- A .NET connector that provides an object-oriented interface to communicate with the test tool.
- An abstraction mapping framework based on symbolic action refinement of IOSTSs. This simplifies

[2018-10-08 14:25] pjljvandelaar commented on #794
We are discussing this issue internally.

* We want an ecosystem around TorXakis and your tools is just one element of such an ecosystem.
* We want that users can make a clear distinction between TorXakis and elements in its ecosystem.
* We want to minimize negative aspects in the ecosystem to affect TorXakis.

How to arrange this precisely is handled by our legal department.
I will keep you infor

[2018-10-08 14:41] tacopetri commented on #794
Thanks for investigating! I am currently also discussing the license with the OU and my company, looking forward to your results.

I agree with the (unintended) implications of the current name, and have chosen a better one:
https://github.com/tacopetri/TorXakis-DotNet-Adapter

I will perform the internal rename for the Visual Studio solution tonight. =)

[2018-10-09 13:46] pjljvandelaar commented on #791
Also in TxsServer stderr is used for echoing commands. Why?

[2018-10-11 19:56] alanrandrade opened #795 "Solver failing"
Hi,

I created a simple model, which makes a query and expects a return.

The query is defined in `TYPEDEF Actions ::= Query {in :: ParameterType; arg :: Int} ENDDEF`
The response is defined in:
[code]

Given a query:
- In case the attribute `arg` has a value between 1 and 15, the attribute `error` (EResponseType) in the return should be `SUCCESS` and the list of integers should have at least one

[2018-10-12 17:26] pjljvandelaar commented on #795
A few questions
1. Is the same behaviour also observed with the latest release of z3?
2. What version of TorXakis are you using?
3. Is the log file made with the model? I see no constraints between the ParameterType of the query and the returnQuery. Yet the ParameterType of the returnQuery always matches that of the query. I did not expect that with the default random generation.

[2018-10-12 19:55] alanrandrade commented on #795
1. Yes, the behaviour was the same with z3 version 4.8.0 (see log)
2. I am using the 0.6.0 version (Linux) in a Ubutu 16.04
3. Yes. I ran it in _tester mode_ and sent the responses manually, that is the reason why they match even though there are no constraints. (ran it again without caring about matching ParameterType, see log-error.txt)

I believe I found the cause of the problem, which seems to

[2018-10-13 10:39] pjljvandelaar commented on #795
Indeed it is smarter to use isNilInt for the empty list and isCstrInt for the non-empty list. The problemsolver in  those cases doesn't have to solve a problem that includes the (recursive) length function.

[2018-10-13 10:47] pjljvandelaar commented on #795
After my holidays, i will look into the issue and report back my findings.

[2018-10-15 21:55] tretmans opened #796 "building on linux"
I tried to build on Linux Ubuntu 18.04 (lts)
I had quite some difficulties with missing packages:

sudo apt-get install  libtinfo-dev  libexpat1-dev  expat

In stack_linux.yaml I added (not sure weather really necessary):
# Override default flag values for local packages and extra-deps
flags:
  hexpat:
    bundle: true

Should this somewhere be documented?

[2018-10-16 08:33] pjljvandelaar commented on #796
In stack.yaml all flags except of hexpat are for 'integer.simple' or its equivalent 'integer.gmp', to ensure bsd3 license.
So indeed on linux the expat flag might be needed. See http://hackage.haskell.org/package/hexpat for more info. Look at the last few releases in particular.

If building on linux is required, we should have a linux system available.
We also have semaphoreci...

[2018-10-16 09:21] dnadales commented on #796
Does this mean that TorXakis no longer builds in semaphore ci?

On Tue, Oct 16, 2018, 10:33 pjljvandelaar <notifications@github.com> wrote:

[2018-10-16 13:19] pjljvandelaar commented on #796
On semaphoreci everything is fine.
So maybe specific for this particular linux variant.

[2018-10-16 14:36] pjljvandelaar commented on #796
What is the goal of this issue?
1. Document the few platforms we support. And ask the community to help us support more platforms?
2. Document how to build TorXakis on every possible platform.

Given the limited resources we have, I think only the first goal seems realistic to me.

[2018-10-18 14:49] tacopetri opened #797 "XML serialization - XSD support?"
Hi,

Let's take an example data type:
`TYPEDEF  Action ::=
 ConnectItem { connectItemId1 :: Int; connectItemId2 :: Int }
ENDDEF`

TorXakis supports string serialization via `toString` and `fromString`. In this case, both field names and field types are lost:
`ConnectItem(1,2)`

TorXakis also supports XML serialization via `toXml` and `fromXml`. In this case, field names are preserved but field typ

[2018-10-18 15:03] pjljvandelaar commented on #797
We are considering generating xsd from the particular model. See #634 for more details.
Note that we do not intend to include data constraints in XSD, only data types.
Amongst others, since not all constraints can be expressed in XSD.

[2018-10-18 15:11] tacopetri commented on #797
Ah, interesting, thanks!

[2018-10-18 16:28] pjljvandelaar commented on #797
Would you prefer that the XSD generation is included within TorXakis, or a stand alone program similar to your independent generator for .net/c#?

[2018-10-18 16:48] tacopetri commented on #797
Hmm, that is a good question. You mean like how you can start both the stepper and the tester via console commands after TorXakis has started?

For integration purposes, having a separate tool that simply takes a .txs file as input, and returns an .xsd file as output would be easiest. Would be fun if you could pipe it together via STDIN and STDOUT (classic style), but using file paths is probably

[2018-10-18 22:59] tacopetri opened #798 "Windows MSI Installer - Defaults to Program Files (x86) not Program Files"
Hi,

TorXakis runs as 64 bit on my machine, is there even a scenario where it runs as 32 bit?

The MSI installer has this as installation folder:
`C:\Program Files (x86)\TorXakis`
while it should really be:
`C:\Program Files\TorXakis`

Tested with the 0.7.0 release installer.

[2018-10-19 12:53] pjljvandelaar commented on #798
I guess this is legacy: TorXakis used to be 32 bits. Will pick it up for the next release, #761.

[2018-10-19 12:55] pjljvandelaar commented on #761
Look at installation directory on windows. we want the directory for 64 bits programs. See #798.
And https://github.com/TorXakis/SourceWindowsInstaller/issues/32

[2018-10-19 13:49] pjljvandelaar commented on #798
Also z3 and cvc4 were 32 bits. Have to check them as well.

[2018-10-19 16:54] tacopetri commented on #798
It always feels nice to eliminate the legacy 32 bit components of a software system. =)

[2018-10-20 14:29] pjljvandelaar commented on #798
Is issue of windows installer so closed in the general TorXakis project.

[2018-10-20 14:29] #798 closed, assigned to nobody

[2018-10-22 12:17] pjljvandelaar commented on #795
Could reproduce issue and isolate it. Send bug report to Z3:  https://github.com/Z3Prover/z3/issues/1895

[2018-10-22 12:20] pjljvandelaar commented on #795
I could reproduce the issue and isolate it.
I submitted a bug report to Z3: https://github.com/Z3Prover/z3/issues/1895

[2018-10-22 12:59] pjljvandelaar commented on #795
Note that the original problem, leads in stepper and simulator mode to a query that is too hard to decide for current problem solvers:

The statement `lengthList(myList(b)) == 0` has a solution.
TorXakis however wants to generate a random solution when possible,
so it will ask for a solution to the two statements
`lengthList(myList(b)) == 0` and `not (isNilInt(myList(b)))`,
to find out whether mul

[2018-10-22 13:15] pjljvandelaar commented on #731
Randomization can be added by separating a variable space into parts, randomly order the parts, and finding the first solution in this sequence of parts.
Note that when only a single solution exists, this approach increases the response time.
TorXakis' incrementBins checks that another solution exists, before trying to find a random solution.

In both cases, this complicates the query for the prob

[2018-10-23 09:23] alanrandrade commented on #795
Thank you for looking into this, @pjljvandelaar. I will stick to `isNilInt` for now.

Another thing I observed with this small model is the way the test cases are generated.

- When IncrementChoice is used as `param_Randomization`, diverse `ParameterTypes` (A or B) are used, `arg` has random values, but more diversity of valid arguments `( (arg >= 1) /\ (arg <= 15)  )` would be ideal, instead of o

[2018-10-23 09:44] pjljvandelaar commented on #795
Please use IncrementBins. It should be the default. Maybe reduce the integer range, since you are not interested in overflow ( numbers larger than 2^64)

[2018-10-23 13:13] pjljvandelaar commented on #795
With the following similar program (growingList.txs)
[code]
I get
[code]
I assume this is random enough for you?

Note my parameters are just the default values:
[code]

[2018-10-24 10:03] alanrandrade commented on #795
The problem was indeed with the randomization mode.

I used the Linux installer torxakis_0.6.0_amd64.deb and for that reason I did not have the most up-to-date randomization options. I was having some problems to build torxakis in Ubuntu 16.04, but yesterday I put some extra effort into it after your response and managed to build it.

Now I am using the newest version of torxakis and IncrementBins

[2018-10-30 16:18] pjljvandelaar commented on #128
@CarstenRuetz I have made changes to your lpe branch to remove hlint issues.
I wanted to merge with develop, however that can't be done automatically,
since you haven't merge with develop recently.
Could you please do so?

I had some time to spare, I will fix it!

[2018-10-31 18:12] tretmans opened #799 "Making EXIT, DISABLE, ENABLE more consistent."
De parser accepteert meer dan semantisch betekenis heeft.
Tenminste bij deze voorbeelden,
Bij de eerdere discussie over EXIT-typering, proberen we met EXIT-typering juist zoveel mogelijk
als statisch af te vangen dat geen betekenis heeft.  Dat is dus niet zo consequent:
EXIT >-> P   ==  EXIT >-> Stop,   dus waarom mag je dan  EXIT >-> P  wel opschrijven,
maar  STOP >>> P  niet?

Ik stel daarom voo

[2018-11-01 10:37] pjljvandelaar commented on #799
Rewrite rules are in bexpr

[2018-11-01 13:16] pjljvandelaar commented on #128
@CarstenRuetz  Did all test pass?
I am getting
[code]
and the differences in LPE are equivalent replacements suggested by hlint...

[2018-11-01 15:32] pjljvandelaar commented on #128
Root cause seems to be a merge error.
Will merge to lpe when all tests pass.
Can then merge lpe in develop (automatically)!
Will make a pull request.

[2018-11-01 18:28] pjljvandelaar commented on #673
Still happens. Also on appveyor:
https://ci.appveyor.com/project/torxakis-admin/torxakis/builds/19977831

[2018-11-05 09:36] pjljvandelaar opened #802 "Alternative StAutDef not working"
I changed the Fibonacci example to use the alternative StAutDef definition:
[code]
Although the parser accepts it, when going to stepper  mode I get:
[code]

[2018-11-05 09:54] pjljvandelaar commented on #802
When thinking on the issue, I had the following question:
Are the additional parameters/arguments needed to capture the variables of the StautDef included in declaration/call of the `std_X` functions?

[2018-11-06 09:03] pjljvandelaar opened #803 "Compiler warning wrong"
When the attached file
[EchoDelayN.txt](https://github.com/TorXakis/TorXakis/files/2552319/EchoDelayN.txt)
 is parsed by TorXakis I get the following error message
[code]
Yet the error is caused by
[code]
where in the ELSE clause a closing bracket is missing for Cons!

Note: the error already occurs when the input file contains just the add function shown above.

[2018-11-07 11:36] pjljvandelaar commented on #776
When we ever reconsider this issue: An advantage might be that we can have SolvableExpressions and extend them into NonSolvableExpression more nicely than currently possible.
And similar for Process and Goal (process with HIT)...

[2018-11-09 10:25] pjljvandelaar commented on #522
I would like to decouple the declaration of variables and the scoping of variables from the BExpr operators.
We already often use the standardised form of
[code]
So I will make `ActOffer` in this standardised from.
The user (either compiler, rewriter, or generator) has to add a constraint to propagate the values if needed (e.g. one might want `A?_` in the parser to denote a random value be communi

[2018-11-09 13:12] pjljvandelaar commented on #522
Note that `A|EXIT` is different from `A >-> EXIT` since e.g. under parallel composition holds
[code]
while
[code]

[2018-11-09 13:26] pjljvandelaar commented on #522
@tretmans In processes with multi-actions (e.g. A|B) or a set of actions, is `ISTEP` just the empty set of actions? In other words, `ISTEP` is the empty set of observable actions.

[2018-11-09 14:12] pjljvandelaar commented on #522
We could make an internal memory representation that works like
[code]
Note that when the first choice is taken, the received value is echoed on `A` and `B`,
yet when the second choice is taken, an arbitrary value is communicated on `A` and the same value is also communicated on `B`.

We could add checks such that each variable will be assigned before used.
Yet the meaning of e.g. `A?A$1 [[ X == A

[2018-11-09 14:26] pjljvandelaar commented on #522
On merging >-> and >>>:
`P` is irrelevant in
[code]
when `EXIT` is an element of `Actions`.
Similarly, `P` is irrelevant in
[code]
when `EXIT` is NOT an element of `Actions`.

Questions:
* What is the impact on run-time performance when we add `EXIT` when not present to the Actions of an ActionPrefix and store both `Actions >-> P` and `Actions >>> P` internally as a sequence?
* What is the impact

[2018-11-09 15:48] pjljvandelaar opened #808 "Alternative for parallel processing"
In [E-Lotos](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.38.7130&rep=rep1&type=pdf) an example is given that I can't write down in TorXakis.
[code]
Should we add such an operator as well?

[2018-11-14 18:49] pjljvandelaar commented on #808
Is it
[code]
?
If so, it might not be needed...

[2018-11-15 08:57] pjljvandelaar commented on #808
In both approaches, it not clear what channels B1,B2,B3, B4, and B5 have. E.g. does B1 also have channel G2 but does not need to synchronise with it?

The symmetry in TorXakis is less clear since it is also equal to
[code]

So the question is: does this new operator for parallel enable an performance improvement due to its other structure?

[2018-11-15 09:43] pjljvandelaar opened #809 "On EXIT & HIT"
Currently, the combinations of `HIT` and `NoExit` is defined as
[code]
Yet, is this correct?
A test goal might be targeted at one of the parallel processes.
When the test goal in that single process is achieved, the overall test goal is `HIT`
independent of the termination of the other parallel process.

[2018-11-15 09:47] pjljvandelaar commented on #809
Maybe the question should even more general: Should we mix `HIT` with `EXIT` / `NoExit`?
In other words: are test objectives / goals something else than behavioural expressions?
See also #421

[2018-11-15 10:12] pjljvandelaar commented on #475
Note that the syntax becomes a little more complicate in the following case: a process instantiation of which the exit values are used
[code]
becomes
[code]
since the variables have to be defined to be used!

[2018-11-15 10:29] pjljvandelaar opened #810 "The scope of variables and behavioural expressions"
Currently the scoping of variables is combined with the behavioural expressions.

For example, an `ActOffer` of action prefix can introduce a variable that can be used in the following behavioural expression. The scope of the variable is limited to that behavioural expression. The variable can't be used for example after termination of a parallel composition that contains this action prefix.

An a

[2018-11-15 11:52] pjljvandelaar commented on #475
What is TorXakis? We often compare it with a machine language (and DSLs translate to TorXakis).

So is ACCEPT and EXIT with arguments needed?
One could argue not.
[code]
can be realised as well by using a specific channel to hand over the values:
[code]

To make TorXakis as simple as possible (and to minimise the code we have to maintain), we might want to remove the ACCEPT in the internal represe

[2018-11-15 13:36] pjljvandelaar opened #811 "hiddenvars in ActOffer"
In #609 we added hidden vars to ActOffer.

Why did we choose this particular implementation?
For the `EXIT` channel we allow multiple kinds (`EXIT` versus `EXIT ?x1 ?x2`).
Also for `EXIT` the variables are in a set: `EXIT ?y ?y` is illegal (similar to #788).

So why did we choose this additional field of a set of variables?
Why did we not consider allowing `ISTEP ?x1 ?x2`  as well?

[2018-11-15 14:15] pjljvandelaar opened #812 "ActOffer and allowed channels"
I want to make a smart constructor for `ActOffer`.
However, the rules for the combination of `(ChanId,[ChanOffer])` are not so clear.

@tretmans Am I right with the following requirements
* All `ChanId`s must be unique (see #787)
* combining ISTEP with anything else makes it _useless_
     * e.g. `ISTEP|A` could be written as just `A`: yet should it be accepted or rejected?
     * What is the diff

[2018-11-16 09:47] pjljvandelaar commented on #799
Similar rules:
* behaviour expression that enables in enable must have Exit as ExitKind: e has Exit in `Enable e b`
* behaviour expression that interrupts in interrupt must have Exit as ExitKind: p has Exit in `Interrupt i p`

@tretmans please review in the refactor/All branch the txs-bexpr package and in particular the TorXakis.BExpr.BExpr file

[2018-11-16 10:16] pjljvandelaar commented on #799
What about special channels such as `MISS`, `HIT`, and `QSTEP`?
Is `EXIT >-> MISS` valid?
Can I check quiescence when the model exits by `EXIT >-> QSTEP`?

[2018-11-17 10:25] dnadales commented on #802
The processes are there, the problem is that `expand` is looking for a process with a different id. I will take a look at why does the compiler and `expand` differ. See below the model, the resulting process definition map, and the `procid` that `expand` is looking for:

[code]

Process map:

[code]

`procid`:

[code]

[2018-11-17 10:41] dnadales commented on #802
I thought maybe the compiler was changing the `unid`, however this doesn't seem to be the case:

[code]

[2018-11-17 10:46] dnadales commented on #802
Ok, so the problem seems to be that for the definition of `stdi_fibonacci` `std_fibonacci` is instantiated, but with a different process id.

[2018-11-18 11:36] pjljvandelaar commented on #802
Indeed: in the example 1050 should be 1045. The invocation (stdi_fibonacci) adds the additional parameters (using the initial value) to call the std_fibonacci process.

[2018-11-19 07:26] pjljvandelaar commented on #346
See https://github.com/TorXakis/TorXakis/wiki/ProcDefs

Why `#`in
[code]
Why not `;` or `,`?
Similar to
[code]

[2018-11-19 10:14] dnadales commented on #802
The compiler is not generating the application of `std_fibonacci`, so could it be that the `translate` function is passing the wrong id? I'll look at the code of `translate` to see if I can figure this out myself.

[2018-11-19 10:30] dnadales commented on #802
Alright, I see what the problem might be. This is the type of `translate`:

[code]

And this is how the compiler is using it:

[code]

So `translate` expects as first `Id` the id of the `std` automata, however the compiler is passing a new id.

Regarding the second `Id`, @pjljvandelaar, do you know whether it needs to be a fresh identifier?

I'll try and fix the call in the compiler and add commen

[2018-11-19 21:28] #802 closed, assigned to dnadales

[2018-11-21 15:55] pjljvandelaar opened #814 ".torxakis.yaml file removed when present"
I would like to configure the tests in sqatt using `.torxakis.yml` file. For example, to obtain smt2 log files.

However, in src\Integration\ConfigFile.hs a `.torxakis.yml` file is made by the test (and replaces any existing file).
After the test the `.torxakis.yml` file is removed.

I would like that the `.torxakis.yml` file is backed up, and restored after the test(s).

[2018-11-21 16:07] pjljvandelaar commented on #715
Also use the same `.torxakis.yml` file:
now some test cases use the `.torxakis.yml` file in `.\TorXakis\test\sqatt\` while others use the `.torxakis.yml` file in `.\TorXakis\`

[2018-11-26 13:38] pjljvandelaar commented on #791
I assumed it was an error: use stdout at those four locations instead!

[2018-11-26 16:07] pjljvandelaar commented on #549
@ikbendedjurre can you also confirm that `ANY` will only occur in procInst calls?

[2018-11-26 16:32] ikbendedjurre commented on #549
It would mess with my work a lot if the restriction on ANY were upheld.

In short, the LPE optimization algorithms that I work on require initial values as default values that can be freely used for substitutions. Without (reliable) default values, the complexity of the algorithms would increase, both time-wise and code-wise.

[2018-11-27 12:55] #795 closed, assigned to nobody

[2018-11-27 16:54] #791 closed, assigned to tretmans

[2018-11-28 11:12] pjljvandelaar commented on #795
Z3 was fixed, but there are still some performance issues:
We are tracking it: https://github.com/Z3Prover/z3/issues/1979

[2018-11-29 09:59] ikbendedjurre commented on #549
This is a side issue, kind-of, but I was using the following file for testing:

`CHANDEF ChanDefs`
`    ::= chan2 :: Int; chan3 :: Int`
`ENDDEF`
`PROCDEF LPE[Read :: Int; Write :: Int](var6 :: Int; var7 :: Int) ::=`
`        (Read ?var4 :: Int [[ True ]] >-> (LPE [Read,Write] (1, 0)))`
`ENDDEF`
`MODELDEF Model ::=`
`    CHAN IN chan2`
`    CHAN OUT chan3`
`    BEHAVIOUR LPE[chan2, chan3](0, ANY In

[2018-11-29 10:19] pjljvandelaar commented on #549
I think TorXakis derives the type so it should be `ANY` instead of `ANY Int`.

But I agree the error message can be improved.
@dnadales do you agree?

[2018-11-29 10:24] ikbendedjurre commented on #549
When I use just `ANY` the compiler says

`Error {_errorType = Undefined Entity, _errorLoc = ErrorLoc {errorLine = 10, errorColumn = 36}, _errorMsg = "Could not find key \"ANY\" of type Text when looking for a value of type Proxy * [Loc FuncDeclE]"}`

This does not make much of a difference to me though; I am mostly hoping TorXakis will be able to deal with ANY expressions, as well as undefined exp

[2018-11-29 12:18] alanrandrade opened #821 "Torxakis v0.7 not working for Ubuntu 16.04"
After installing Torxakis 0.7 using the .deb file in Ubuntu 16.04, an error message is given when using the tool (see attachment).

My colleague, who is trying to use it did some research and it seems not to be a good idea to update GLIB. The solution for him was to use Ubuntu 18.04. However, I do have 0.7 in my Ubuntu 16.04, which I built from source, maybe there is something wrong with the .deb

[2018-11-29 16:04] pjljvandelaar commented on #799
We need to discuss whether we want this in the compiler or in bexpr (the new refactor/All version should check more anyway!)

[2018-12-02 16:40] pjljvandelaar commented on #821
With the 0.8.0 release planned for this month. I propose to look into it, yet fix it only for 0.8.0 and no longer for 0.7.0.

[2018-12-05 07:28] pjljvandelaar opened #824 "On MultiActions"
This issue is intended to document the design decisions around multi-actions.

### What are multi-actions?
Multi-actions denote synchronized communication over multiple channels.

Currently, multi-actions are by default disabled at the top level.
Main reason is that one can't communicate synchronously over multiple physical channels (like sockets).

However, TorXakis models abstract from the physi

[2018-12-05 09:37] pjljvandelaar opened #825 "On EXIT"
Currently we support `EXIT` with a variable number of exit values.
Since
[code]
is equivalent to
[code]
an alternative would be to only support `EXIT` with no exit values and use a separate channel to communicate the exit values.

[2018-12-05 09:39] pjljvandelaar commented on #825
see also #811

[2018-12-05 09:56] pjljvandelaar commented on #825
Note that the [disable operator](https://github.com/TorXakis/TorXakis/wiki/Disable_Operator) needs multi-actions unless EXIT with multiple arguments is allowed!
For example,
[code]
is equivalent to
[code]
but **NOT** to
[code]

[2018-12-05 10:29] pjljvandelaar opened #826 "On Disable Operator"
How to use the [disable operator](https://github.com/TorXakis/TorXakis/wiki/Disable_Operator) to get the desired behaviour is not clear.

Suppose I want to model the sequences `C, AB, BA, AC, and BC`
under the assumption that the multi-action `A|B` is not allowed.

The model
[code]
also allows the sequences `ABC and BAC`
The model
[code]
disallows the sequences `AC`.
Similar, the model
[code]
disa

[2018-12-05 10:45] pjljvandelaar commented on #799
We have a problem related to `EXIT` and LPE.

An action prefix that contains `EXIT` in its offers can only have `STOP` as follow up, i.e.,
[code]
However enforcing this rule leads to problems with LPE (see #128) that transform all processes to the form
[code]
With `programCounter`equal to zero when `K | L | ... Z` contains `EXIT`.

[2018-12-05 11:43] pjljvandelaar commented on #826
Processes can be used in Disable and Parallel operators
However, one seems impossible to make a single process that is fine in all contexts.
For example,
[code]
works perfect with the Disable Operator, yet only allows synchronous communication (` A| ... | EXIT`) in the Parallel operator.
Comparably,
[code]
enables interleaving of messages (and shared exit) in Parallel operator, yet allows to be di

[2018-12-05 12:00] pjljvandelaar commented on #826
So the title of this issue might be wrong: maybe it should be on the semantics of the Parallel operator!

Processes in parallel can EXIT when they are done,
The other process still have to fullfill the synchronization requirement.
This can be implemented by keep a single EXIT process, no matter how many process have already exited (similar to the single stop process that is now kept in reduce [see